<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
	<script type="text/javascript" th:src="@{/js/admin/list_search_component.js}"></script>

	<div style="text-align: center; clear: both;">
		<form id="search_frm" name="search_frm" method="get" action="/admin/log_list">

			<label>아이디</label>
			<input type="text" name="word_id" id="word_id" th:value="${word_id}" style="margin-bottom: 5px;">
			<br>
			<label>아이피</label>
			<input type="text" name="word_ip" id="word_ip" th:value="${word_ip}" style="margin-bottom: 5px;">
			<br>
			<label>날짜 검색</label>
			<input type="date" name="start_date" id="start_date" th:value="${start_date}">
			~
			<input type="date" name="end_date" id="end_date" th:value="${end_date}" style="margin-bottom: 5px;">
			<br>
			<button type="submit" class='btn btn-secondary btn-sm'
				style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;">검색</button>

			<button type='button' class='btn btn-secondary btn-sm'
				style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;"
				th:onclick="|location.href='/admin/log_list'|">검색 취소</button>

		</form>

	</div>
</div>