<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
	<script type="text/javascript" th:src="@{/js/admin/login.js}"></script>

	<div class="title_line">로그인</div>

	<!-- 메뉴 -->
	<aside class="aside_right">
		<a href="javascript:location.reload();">새로고침</a>
		<span class='menu_divide'>│</span>
		<a href="./create">회원 가입</a>
		<span class='menu_divide'>│</span>
		<a href="./find_passwd">비밀번호 찾기</a>
	</aside>

	<div class="menu_line"></div>

	<div style="width: 60%; margin: 0px auto">
		<!-- 회원가입 폼 -->
		<form name="login_frm" id="login_frm" th:object="${adminVO}" method="post" action="/admin/login">
			<input type='hidden' name='url' id='url' th:value='${url}'><!--  이동할 주소 -->
			<!-- 아이디(이메일) -->
			<div style="display: flex; align-items: center;">
				<label for="adm_id" style="margin-right: 10px;">아이디(이메일)</label>
				<input type="text" name="adm_id" id="adm_id" th:value="${ck_id}" autofocus="autofocus"
					class="form-control fom-control-sm" style="width: 50%;">
				<label><input type="checkbox" name="adm_id_save" id="adm_id_save" value="Y"
						th:checked="${ck_id_save == 'Y'}">저장</label>
			</div>
			<span id="adm_id_msg"></span>

			<!-- 패스워드 -->
			<div class="form-group" style="display: flex; align-items: center;">
				<label for="adm_pw" style="margin-right: 10px;">패스워드</label>
				<input type="password" name="adm_pw" id="adm_pw" th:value="${ck_passwd}" required="required"
					placeholder="패스워드" class="form-control fom-control-sm" style="width: 50%; margin: 10px;">
			</div>
			<span id="adm_pw_msg"></span>

			<!-- 버튼 -->
			<div class="mypage_bottom">
				<button type="button" onclick="send();" class="btn btn-secondary btn-sm">로그인</button>
				<button type="button" onclick="location.href='/'" class="btn btn-secondary btn-sm">취소</button>
			</div>

		</form>
	</div>



</div>

</html>