<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
	<script type="text/javascript" th:src="@{/js/tcontents/read.js}"></script>

	<a href="javascript:location.reload();">새로고침</a>
	<span class='menu_divide'>│</span>
	<a href='./list'>목록</a>
	</aside>

	<div class='menu_line'></div>

	<fieldset class="fieldset_basic">
		<ul>
			<li class="li_none">
				<div style="width: 100%; word-break: break-all;">

					<div
						th:if="${tcontentsVO.tcon_img.endsWith('jpg') or tcontentsVO.tcon_img.endsWith('png')  or tcontentsVO.tcon_img.endsWith('gif')}">
						<img th:src="@{|/tcontents/storage/${tcontentsVO.tcon_saved_img}|}"
							style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
					</div>

					<span style="font-size: 1.5em; font-weight: bold;" th:text="${tcontentsVO.tcon_title}"></span>
					<span style="font-size: 1em;" th:text="${tcontentsVO.tcon_date }"></span><br><br>
					<div style="white-space: pre-wrap;"><span th:text="${tcontentsVO.tcon_contents}"></span></div>
				</div>
			</li>

			<li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;"
				th:if="${tcontentsVO.youtube.length() > 0}">
				<div style='text-align: center; width:640px; margin: 0px auto;' th:utext="${tcontentsVO.youtube}">
				</div>
			</li>

			<li class="li_none" th:text="|검색어(키워드): ${tcontentsVO.word}|">
			</li>

			<li class="li_none" th:if="${tcontentsVO.tcon_img_size > 0}">
				<div>
					<!-- ServletRegister.java: registrationBean.addUrlMappings("/download"); -->
					첨부 파일: <a
						th:href='@{|/download?dir=/tcontents/storage&filename=${tcontentsVO.tcon_saved_img}&downname=${tcontentsVO.tcon_img}|}'
						th:text='|${tcontentsVO.tcon_img}|'></a> <span th:text="|(${tcontentsVO.img_size_label})|"></span>
				</div>
			</li>
		</ul>

	</fieldset>

</div>

</div>

</html>