<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<head>
<script>
  function confirmFile(memberno, acc_no, tcon_no, now_page, cate_no) {
    if (memberno != acc_no && acc_no > 3) {
      alert("권한이 필요합니다.");
      return false;
    }
    const url = `../tm_update_file/${memberno}?tcon_no=${tcon_no}&now_page=${now_page}&cate_no=${cate_no}`;
    window.location.href = url;
    return true;
  }

  function confirmDelete(memberno, acc_no, tcon_no, now_page, cate_no) {
    console.log(acc_no);
    if (memberno != acc_no && acc_no > 3) { //memberno가 acc_no 같지 않고 acc_no가 3보다 작을떄
      alert("권한이 필요합니다.");
      return false;
    }
    const url = `../tm_delete/${memberno}?tcon_no=${tcon_no}&now_page=${now_page}&cate_no=${cate_no}`;
    window.location.href = url;
    return true;
  }
</script>
</head>
<div layout:fragment="content">
  <div class='title_line'>
     <span style="font-size: 20px;" th:text="${tm_contentsVO.tcon_name}" class="title_line_text"></span > 
    > 글 수정
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|/textmining/tm_create?cate_no=5|}">등록</a>
    <span class='menu_divide'>│</span>
    <a href="#" th:attr="onclick=|return confirmDelete(${memberno}, '${acc_no}', ${tm_contentsVO.tcon_no}, ${now_page}, 5)|">삭제</a>
    <span class='menu_divide'>│</span>
    <a href="#" th:attr="onclick=|return confirmFile(${memberno}, '${acc_no}', ${tm_contentsVO.tcon_no}, ${now_page}, 5)|">파일 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/textmining/tm_list_all?cate_no=5&now_page=${now_page}|}">전체 목록</a>
    <span class='menu_divide'>│</span>
    <a href="javascript:history.back();">돌아가기</a> 
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${tm_contentsVO}" action='/textmining/tm_update_text' enctype="multipart/form-data">
    <input type="hidden" name="tcon_no" th:value="${tm_contentsVO.tcon_no }">
    <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">
    
    <div>
       <label>제목</label>
       <input type='text' name='tcon_name' th:value='${tm_contentsVO.tcon_name}' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea name='tcon_contents'  required="required" class="form-control" rows="12" style='width: 100%;' 
                      th:text='${tm_contentsVO.tcon_contents}'></textarea>
    </div>

    <div style="text-align: left;" class="content_body_bottom">
      <button type="submit" class="btn btn-info btn-sm">저장</button>
      <button type="button" onclick="history.back();" class="btn btn-info btn-sm">취소</button>
    </div>
 
  </form>

</div>


  