<div th:fragment="cate_select_fragment">
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			let share_marks = document.querySelectorAll('tr[data-type="share"]');
			let qna_marks = document.querySelectorAll('tr[data-type="qna"]');
			let share_title = document.getElementById("share_title");
			let qna_title = document.getElementById("qna_title");
			let cate_no = 1;

			function changeType(selectedType) {
				if (selectedType === 'share') {
					share_marks.forEach(function (mark) {
						mark.style.display = '';
					});
					qna_marks.forEach(function (mark) {
						mark.style.display = 'none';
					});
					share_title.style.display = '';
					qna_title.style.display = 'none';
					cate_no = 1;
				} else {
					share_marks.forEach(function (mark) {
						mark.style.display = 'none';
					});
					qna_marks.forEach(function (mark) {
						mark.style.display = '';
					});
					share_title.style.display = 'none';
					qna_title.style.display = '';
					cate_no = 2;
				}
				window.cate_no = cate_no;
			}

			document.getElementById('contentsType').addEventListener('change', function () {
				let selectedType = this.value;
				changeType(selectedType);
			});

			changeType('share');
		});

	</script>

	<div style="text-align: right; clear: both;">
		<select id="contentsType">
			<option value="share">공유 게시글</option>
			<option value="qna">질문 게시글</option>
		</select>
	</div>
</div>