<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
	
	<div class="title_line" th:if="${word} == null or ${word} == ''" th:text="@{|회원 로그|}"></div>
	<div class="title_line" th:if="${word} != null and ${word} != ''" th:text="@{|회원 로그(${word})|}"></div>

	<aside class="aside_right">
		<a href="javascript:location.reload();">새로고침</a>
		<span class='menu_divide'>│</span>
		<a href='./create'>회원 가입</a>
		<span class='menu_divide'>│</span>
		<a href='./list'>목록</a>
	</aside>

	<!-- /contents/list_search_component.html 파일의 list_search_fragment import -->
	<div th:replace="~{account/list_search_component::list_search_fragment}"></div>

	<div class='menu_line'></div>

	<table class="table table-striped" style='width: 60%;'>
		<colgroup>
			<col style='width: 8%;' />
			<col style='width: 8%;' />
			<col style='width: 10%;' />
			<col style='width: 20%;' />
			<col style='width: 35%;' />
		</colgroup>

		<tr>
			<th class='th_bs'>로그 번호</th>
			<th class='th_bs'>회원 번호</th>
			<th class='th_bs'>회원 아이디</th>
			<th class='th_bs'>접속 아이피</th>
			<th class='th_bs'>접속 시간</th>
		</tr>

		<tr th:each="log : ${logs}">
			<td class='td_left' th:text="${log.accLog.acc_log_no}"></td>
			<td class='td_left' th:text="${log.account.acc_no}"></td>
			<td class='td_left'><a th:href="@{|./read?acc_no=${log.account.acc_no}|}"
					th:text="${log.account.acc_id}"></a></td>
			<td class='td_left' th:text="${log.accLog.acc_log_ip}"></td>
			<td class='td_basic' th:text="${log.accLog.acc_log_time}"></td>
		</tr>

	</table>

	<div class='bottom_menu'>
		<button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
	</div>

</div>

</html>