<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<script type="text/javascript" th:src="@{/js/recommend/list.js}"></script>
	<script type="text/javascript" th:src="@{/js/account/my_bookmarks.js}"></script>

	<style>
		.table {
			width: 100%;
			table-layout: fixed;
		}
	</style>

	<div id="code" th:attr="data-code=${code}" style="display: none;"></div>

	<div class='title_line' id="share_title" style="display: block;">나의 북마크
		<span th:text="| (공유 게시글 ${share_count} 건)|" class="title_line_text"></span>
	</div>
	<div class='title_line' id="qna_title" style="display: none;">나의 북마크
		<span th:text="| (질문 게시글 ${qna_count} 건)|" class="title_line_text"></span>
	</div>

	<aside class="aside_right">
		<a href="javascript:location.reload();">새로고침</a>
	</aside>

	<!-- /account/cate_select_component.html 파일의 cate_select_fragment import -->
	<div th:replace="~{account/cate_select_component::cate_select_fragment}"></div>

	<div class='menu_line'></div>

	<div style="text-align: right; clear: both;">
		<div style="display: flex; justify-content: space-between; ">
			<div style="display: flex; margin-left:78px;">
			</div>
		</div>
		<div style="display:flex; justify-content: center;">
			<table class="table table-striped" style='width: 80%; justify-content:center;'>
				<colgroup>
					<col style='width: 20%;' />
					<col style='width: 80%;' />
				</colgroup>

				<thead>
					<tr>
						<th class="th_bs">이미지</th>
						<th class="th_bs">내용</th>
					</tr>
				</thead>

				<tbody>
					<!-- 공유 게시판 -->
					<tr th:each="smark : ${share_marks}" data-type="share">
						<input type="hidden" id="scon_no" name="scon_no" th:value="${smark.scon_no}" data-cate-no="1">

						<td class='td_basic'
							style="vertical-align: middle; text-align: center; margin-bottom: 10px; padding: 0; overflow: hidden;">

							<div th:if="${shareImages.containsKey(smark.scon_no)}"
								style="display: flex; justify-content: center; overflow: hidden; margin: 0 auto; width: 180px; height: 100px;">
								<div class="horizontal-container"
									style="margin-bottom: 10px; display: flex; align-items: center;">
									<div th:each="image, images : ${shareImages[smark.scon_no]}"
										th:if="${images.index == 0}" style="margin-right: 5px;">
										<div th:if="${image.file_origin_name.endsWith('jpg') or image.file_origin_name.endsWith('png') or image.file_origin_name.endsWith('gif')}"
											style="width: 180px; height: 100px; overflow: hidden;">
											<img th:src="@{|/contents/storage/${image.file_thumb_name}|}"
												style="width: 100%; height: 100%; object-fit: cover;">
										</div>
									</div>
								</div>
							</div>
						</td>


						<td class="td_contents" style="word-break: break-word;">
							<div style="flex-grow: 1;">

								<div
									style="margin-left: 15px; margin-right: 15px; display: flex; justify-content: center;">
									<div style="width: 100%; height: 150px; margin-bottom: 20px;">
										<div style="display:flex; align-items: center; width: 100%; height: 100%;">
											<div style="width: 100%; height: 100%; margin-left: 20px;">
												<div th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${smark.scon_no}'|"
													style="width: 100%; height: 100%; text-align: left; overflow: hidden;">
													<br>
													<div class="title-image-container">
														<div class="title" th:text="${smark.scon_title}"></div>
														<img src="/css/images/bookmark_on.png" th:id="${smark.scon_no}"
															class="mark_icon"
															onclick="mark(this); event.stopPropagation();">
													</div>
													<div th:text="${smark.scon_date.substring(0, 16)}"
														style="margin-bottom: 15px;"></div>

													<div th:if="${smark.scon_contents.length() > 150 }"
														th:text="|${smark.scon_contents.substring(0, 150)}...|"
														style="display: block;"></div>
													<div th:if="${smark.scon_contents.length() <= 150 }"
														th:text="|${smark.scon_contents}|" style="display: block;">
													</div>

													<span id='acc_no' style="display:none;" value=""></span>

												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="content-bottom" style="display: flex; justify-content: flex-end; gap: 5px;">
									<div>
										<span>조회수
											<label th:text="${smark.scon_views}"></label>
										</span>
									</div>
									<div>
										<span>
											<img th:src="@{|/css/images/comment.png|}"
												style="width: 20px; height: 20px;">
											<label th:text="${sconComments[smark.scon_no]}">0</label>
										</span>
									</div>
								</div>



							</div>

						</td>
					</tr>

					<!-- 질문 게시판 -->
					<tr th:each="qmark : ${qna_marks}" data-type="qna">
						<input type="hidden" id="qcon_no" name="qcon_no" th:value="${qmark.qcon_no}" data-cate-no="1">

						<td class='td_basic'
							style="vertical-align: middle; text-align: center; margin-bottom: 10px; padding: 0; overflow: hidden;">

							<div th:if="${qnaImages.containsKey(qmark.qcon_no)}"
								style="display: flex; justify-content: center; overflow: hidden; margin: 0 auto; width: 180px; height: 100px;">
								<div class="horizontal-container"
									style="margin-bottom: 10px; display: flex; align-items: center;">
									<div th:each="image, images : ${qnaImages[qmark.qcon_no]}"
										th:if="${images.index == 0}" style="margin-right: 5px;">
										<div th:if="${image.file_origin_name.endsWith('jpg') or image.file_origin_name.endsWith('png') or image.file_origin_name.endsWith('gif')}"
											style="width: 180px; height: 100px; overflow: hidden;">
											<img th:src="@{|/contents/storage/${image.file_thumb_name}|}"
												style="width: 100%; height: 100%; object-fit: cover;">
										</div>
									</div>
								</div>
							</div>
						</td>


						<td class="td_contents" style="word-break: break-word;">
							<div style="flex-grow: 1;">
								<div
									style="margin-left: 15px; margin-right: 15px; display: flex; justify-content: center;">
									<div style="width: 100%; height: 150px; margin-bottom: 20px;">
										<div style="display:flex; align-items: center; width: 100%; height: 100%;">
											<div style="width: 100%; height: 100%; margin-left: 20px;">
												<div th:attr="onclick=|location.href='/qcontents/qna_read?qcon_no=${qmark.qcon_no}&now_page=1'|"
													style="width: 100%; height: 100%; text-align: left; overflow: hidden;">
													<br>
													<div class="title-image-container">
														<div class="title" th:text="${qmark.qcon_name}"></div>
														<img src="/css/images/bookmark_on.png" th:id="${qmark.qcon_no}"
															class="mark_icon"
															onclick="mark(this); event.stopPropagation();">
													</div>
													<div th:text="${qmark.qcon_date.substring(0, 16)}"
														style="margin-bottom: 15px;"></div>

													<div th:if="${qmark.qcon_contents.length() > 150 }"
														th:text="|${qmark.qcon_contents.substring(0, 150)}...|"
														style="display: block;"></div>
													<div th:if="${qmark.qcon_contents.length() <= 150 }"
														th:text="|${qmark.qcon_contents}|" style="display: block;">
													</div>

													<span id='acc_no' style="display:none;" value=""></span>

												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="content-bottom" style="display: flex; justify-content: flex-end; gap: 5px;">
									<div>
										<span>조회수
											<label th:text="${qmark.qcon_views}"></label>
										</span>
									</div>
									<div>
										<span>
											<img th:src="@{|/css/images/comment.png|}"
												style="width: 20px; height: 20px;">
											<label th:text="${qconComments[qmark.qcon_no]}">0</label>
										</span>
									</div>
								</div>
							</div>			</tr>

					<tr th:if="${share_count == 0} or ${qna_count == 0} ">
						<td colspan="2" style="text-align: center;">게시글이 존재하지 않습니다.</td>
					</tr>


				</tbody>
			</table>

		</div>
	</div>

</div>

</html>