<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
	
	<script type="text/javascript" th:src="@{/js/admin/acc_list.js}"></script>

	<div class="title_line">로그인 내역</div>
	<span>최근 50건의 기록을 확인하실 수 있습니다.</span>

	<div class='menu_line'></div>

	<table class="table table-striped" style='width: 60%;'>
		<colgroup>
			<col style='width: 50%;' />
			<col style='width: 50%;' />
		</colgroup>

		<tr>
			<th class='th_bs'>접속 아이피</th>
			<th class='th_bs'>접속 시간</th>
		</tr>

		<tr th:each="log : ${logs}">
			<td class='td_basic' th:text="${log.acc_log_ip}"></td>
			<td class='td_basic' th:text="${log.acc_log_time.substring(0, 19)}"></td>
		</tr>

	</table>

</div>

</html>