<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
	<script type="text/javascript" th:src="@{/js/account/reset_passwd.js}"></script>

	<div class="title_line">패스워드 재설정 > <span th:text="@{|${accountVO.acc_name} (${accountVO.acc_id})|}"></span></div>
	
	<!-- 메뉴 -->
	<aside class="aside_right">
		<a href="javascript:location.reload();">새로고침</a>
		<span class="menu_divide">│</span>
		<a href="./create">회원 가입</a>
		<span class="menu_divide">│</span>
		<a href="./list">목록</a>
	</aside>

	<div class="menu_line"></div>

	<div style="width: 30%; margin: 0px auto">
		<form name="reset_passwd_frm" id="reset_passwd_frm" th:object="${accountVO}" method="post"
			action="/account/reset_passwd">
			<input type="hidden" name="acc_id" th:value="${accountVO.acc_id}">

			<div class="form-group">
				<label for="new_passwd">새로운 비밀번호*</label>
				<input type="password" name="new_passwd" id="new_passwd" value="" required="required" placeholder"비밀번호"
					class="form-control form-control-sm" style="width: 100%;">
			</div>

			<div class="form-group">
				<label for="check_passwd">비밀번호 확인*</label>
				<input type="password" name="check_passwd" id="check_passwd" value="" required="required"
					placeholder="비밀번호 확인" class="form-control form-control-sm" style="width: 100%;">
			</div>

			<div class="content_body_bottom">
				<button type="button" onclick="send()" class="btn btn-secondary btn-sm">저장</button>
				<button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
			</div>


		</form>
	</div>


</div>

</html>