<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="margin: 5px auto; text-align: center; display: flex; justify-content: space-between;">
  <!-- 왼쪽 영역 -->

  <div class="left-panel">
    <div class="container">
      <h2>랭킹 글</h2>
      <hr style="margin-bottom: 20px;">
      <div class="grid-container">
        <div th:each="share_imageVO, status:${ranking_image}" class="grid-item"
          th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${share_imageVO.scon_no}'|"
          style="cursor: pointer;">
          <div
            th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}" class="index_img">
          </div>
          <div
            th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}">
            <span th:text="${share_imageVO.file_origin_name}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 구분선 -->
  <div style="width: 20%; min-height: 82vh; background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(244,240,240,1) 23%, rgba(198,198,198,1) 51%, rgba(180,180,180,1) 51%, rgba(199,199,199,1) 52%, rgba(241,241,241,1) 82%, rgba(255,255,255,1) 100%);">
  </div>
      
 <!-- 오른쪽 영역 -->
  <div class="right-panel">
    <div class="container">
      <h2>추천 글</h2>
      <hr style="margin-bottom: 20px;">
	  <div class="grid-container">
	    <div th:each="share_imageVO, status:${recom_image}" class="grid-item"
	      th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${share_imageVO.scon_no}'|"
	      style="cursor: pointer;">
	      <div
	        th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
	        <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}" class="index_img">
	      </div>
	      <div
	        th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}">
	        <span th:text="${share_imageVO.file_origin_name}"></span>
	      </div>
	    </div>
	  </div>
    </div>
  </div>
  
  
</div>

