<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content" style="margin: 80px auto; text-align: center; display: flex; justify-content: space-between;">
    <!-- 왼쪽 영역 -->

<div style="width: 48%; background-color: rgb(255, 255, 255); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; margin-left: 20px;">
 <div class="container">
        <h2 style="margin-bottom: 20px;">랭킹 글</h2>
        <div class="grid-container">
            <div  th:each="share_imageVO, status:${list_image}" class="grid-item"
             th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${share_imageVO.scon_no}'|" style="cursor: pointer;">
                <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
                    <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}">
                </div>
                <div th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}">
                    <span th:text="${share_imageVO.file_origin_name}"></span>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- 오른쪽 영역 -->
    <div style="width: 48%; background-color: rgb(255, 255, 255); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; margin-right: 20px;">
      <h2 style="margin-bottom: 10px;">추천 글</h2>
      <p>여기에 관리자만 작성 가능한 게시글 내용을 표시할 수 있습니다.</p>
    </div>
  </div>
</html>
