<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content" style="width: 80%; margin: 50px auto; text-align: center; display: flex; justify-content: space-between;">
    <!-- 왼쪽 영역 -->
    <div style="width: 45%; background-color: #f0f0f0; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
      <h2 style="margin-bottom: 20px;">관리자</h2>
      <p>----------------------------------------------</p>
    </div>
    
    <!-- 오른쪽 영역 -->
    <div style="width: 45%; background-color: #f0f0f0; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
      <h2 style="margin-bottom: 20px;">관리자</h2>
	  <p>----------------------------------------------</p>
    </div>
  </div>
</html>
