<link href="/css/style.css" rel="Stylesheet" type="text/css">
<script>
	function openRecom() {
		let acc_no = '[[${session.acc_no}]]';

		var url = 'http://192.168.12.157:5000/recom?acc_no=' + acc_no; // 배포할 때 AWS IP로 변경
		var win = window.open(url, '추천 받기', 'width=1000px, height=1000px');

		var x = (screen.width - 450) / 2;
		var y = (screen.heigth - 450) / 2;

		win.moveTo(x, y);
	}

</script>

<div th:fragment="navbarFragment">
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid">

			<!-- 홈 메뉴  -->
			<a class="navbar-brand" href="/" th:if="${!(currentUrl.contains('admin'))}">DESK TOUR</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- 회원 페이지 메뉴 시작 -->
			<div class="collapse navbar-collapse" id="navbarNavDropdown" th:if="${!(currentUrl.contains('admin'))}">

				<!-- left side bar start -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown" th:each="categoryVOMenu: ${menu}"
						aria-labelledby="navbarDropdownMenuLink">
						<a class="nav-link dropdown-toggle"
							th:href="@{|/scontents/list_by_search?cate_no=${categoryVO.cate_no}|}" role="button"
							th:text="${categoryVOMenu.cate_name}">
						</a>
					</li>

					<!-- 공지사항 -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{|http://192.168.12.160:3000/issue/find_all|}" th:text="공지사항"></a>
					</li>

					<!-- 팁 -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{|/tcontents/list|}" th:text="TIP"></a>
					</li>

					<!-- 커뮤니티 -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="커뮤니티">
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item">
								<a class="nav-link" th:href="@{|/scontents/rank?cate_no=4|}" th:text="'랭킹글'"></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{|/recommend/list|}" th:text="'추천글'"></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{|/scontents/list_by_search?cate_no=1|}"
									th:text="'공유 게시판'"></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{|/qcontents/qna_list_all?cate_no=2|}"
									th:text="'질문 게시판'"></a>
							</li>
						</ul>
					</li>

					<!-- AI -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:if="${session.acc_no != null}"
							th:text="'AI 서비스'">
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link" th:href="@{|/recommend/desk?acc_no=${session.acc_no}|}" style="display: inline-block;">
									나의 취향 찾기
								</a>
							</li>

							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link" th:href="@{|http://192.168.12.159:9093/qcontents/summary|}"
									th:text="'글/댓글/답글 요약하기'" style="display: inline-block;">
								</a>
							</li>

							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link" th:href="@{|http://192.168.12.159:9093/qcontents/member_img|}"
									th:text="'나만의 이미지 만들기'" style="display: inline-block;">
								</a>
							</li>
						</ul>
					</li>

					<!-- 텍스트 마이닝 -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:if="${session.acc_no != null}"
							th:text="'텍스트 마이닝'">
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link"
									th:href="@{|http://localhost:9093/textmining/tm_read?tcon_no=1&now_page=1|}"
									th:text="'Dalle AI'">
								</a>
							</li>

							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link"
									th:href="@{|http://localhost:9093/textmining/tm_read?tcon_no=3&now_page=1|}"
									th:text="'Summary AI'">
								</a>
							</li>
							
							<!-- 
             <li class="nav-item" th:if="${session.acc_no != null}">
                <a class="nav-link"
                  th:href="@{|http://localhost:9093/textmining/tm_list_all?cate_no=5|}"
                  th:text="'전체목록'">
                </a>
              </li>
              -->
						</ul>
					</li>

					<!-- 실시간 -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:if="${session.acc_no != null}"
							th:text="실시간">
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link"
									th:href="@{|http://localhost:9093/qcontents/summary_log?acc_no=${session.acc_no}|}"
									th:text="'요약 로그'">
								</a>
							</li>

							<li class="nav-item" th:if="${session.acc_no != null}">
								<a class="nav-link"
									th:href="@{|http://localhost:9093/qcontents/member_img_log?acc_no=${session.acc_no}|}"
									th:text="'이미지 로그'">
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- left side bar end -->


				<!-- right side start -->
				<ul class="navbar-nav ms-auto">
					<li class="nav-item" style="float: right;">
						<span th:if="${session.acc_no == null}">
							<a class="nav-link" href="/account/login" th:text="로그인" style="display: inline-block;"></a>
							<a class="nav-link" href="/account/create" th:text="'회원 가입'"
								style="display: inline-block;"></a>
							<a class="nav-link" href="/admin" th:text="관리자" style="display: inline-block;"></a>
						</span>
						<span th:if="${session.acc_no != null}">
							<a class="nav-link" href="/account/logout" th:text="@{|${session.acc_id}님&nbsp;&nbsp;로그아웃|}"
								style="display: inline-block;"></a>
						</span>
					</li>

					<!-- 마이페이지 -->
					<li class="nav-item dropdown" style="float: right;" th:if="${session.acc_no != null}">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="마이페이지">
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item">
								<a class="nav-link" th:href="@{|/account/mypage|}"
									style="display: inline-block;">마이페이지</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{|/account/mycontents|}">내가 쓴 글</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{|/account/mybookmarks|}">나의 북마크</a>
							</li>
						</ul>
					</li>
					
	         <!-- 알림 -->
          <li class="nav-item" style="float: right;  margin-top: 7px;" th:if="${session.acc_no != null}">
            <button type="button"
              th:attr="onclick=|location.href='http://localhost:9093/scontents/notice/${session.acc_no}'|"
              style="border: none;">
              <img src="/css/images/on_alarm.png" class="bar_icon" title="댓글 알림">
            </button>
          </li>
				</ul>
				<!-- right side end -->

			</div>
			<!-- 회원 페이지 메뉴 종료 -->


			<!-- 관리자 메뉴 시작 -->
			<a class="navbar-brand" href="/admin" th:if="${currentUrl != null and currentUrl.contains('admin')}">데스크
				투어</a>

			<div class="collapse navbar-collapse" id="navbarNavDropdown"
				th:if="${currentUrl != null and currentUrl.contains('admin')}">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0" th:if="${session.adm_no != null}">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							전체 목록 조회
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" th:href="@{|/admin/cate_list_search|}">카테고리 전체
									목록</a></li>
							<li class="nav-item"><a class="nav-link"
									th:href="@{|/scontents/list_by_search?cate_no=1|}">공유글
									전체 목록</a></li>
							<li class="nav-item"><a class="nav-link"
									th:href="@{|/qcontents/qna_list_all?cate_no=2||}">질문글 전체
									목록</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							회원 조회
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" href="/admin/acc_list">회원 목록</a></li>
							<li class="nav-item"><a class="nav-link" href="/admin/acc_log_list">회원 로그 기록</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							관리자 조회
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" href="/admin/list">관리자 목록</a></li>
							<li class="nav-item"><a class="nav-link" href="/admin/log_list">관리자 로그 기록</a></li>
						</ul>
					</li>
				</ul>

				<!-- right side -->
				<ul class="navbar-nav ms-auto">
					<li class="nav-item" style="float: right;">
						<span th:if="${session.adm_no == null}">
							<a class="nav-link" th:href="@{|/admin/login|}" th:text="@{|로그인|}"
								style="display: inline-block; margin-right: 5px;"></a>
							<a class="nav-link" th:href="@{|/admin/create|}" th:text="@{|회원 가입|}"
								style="display: inline-block;"></a>
							<a class="nav-link" href="/" th:text="회원" style="display: inline-block;"></a>
						</span>
						<span th:if="${session.adm_no != null}">
							<a class="nav-link" th:href="@{|/admin/logout|}" th:text="@{|${session.adm_id}님&nbsp;&nbsp;로그아웃|}"
								style="display: inline-block;"></a>
						</span>
					</li>
				</ul>

			</div>
			<!-- 관리자 메뉴 종료 -->

	</nav>
</div>