<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

<script>
function send(){
	  var checkboxes = document.querySelectorAll('input[type="checkbox"][name="tag_no"]');
	  var fileInput = document.querySelector('input[type="file"]');
	  var isChecked = false;
	  checkboxes.forEach(function(checkbox){
	    if(checkbox.checked){
	      isChecked = true;
	    }
	  });
	  if(!isChecked) {
	    alert("하나 이상의 해시태그를 선택하세요.");
	    return false;
	  }
	  if(!fileInput.files || fileInput.files.length===0){
		  alert("이미지를 선택하세요.");
		  return false;
	  }
	  document.getElementById('frm').submit(); 
	}
	</script>
  <div class='title_line'>

   글 등록
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm'  id="frm" method='post' th:object="${scontentsVO}" action='./create' enctype="multipart/form-data">
  <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
    <div>
      <tr th:each="hashtag, status:${list}">      
      <td class='td_left'>
          <label>
            <input type="checkbox" name="tag_no" th:value="${hashtag.tag_no}"> <span th:text="${hashtag.tag_name}"></span>
          </label>
      </td>
    </tr>
    </div>
    <div>
       <label>제목</label>
       <input type='text' name='scon_title' value=' ' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
           <input type='hidden' name='acc_no' th:value="${acc_no}" required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    <div>
       <label>내용</label>
       <textarea name='scon_contents' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    <!--
    <div>
       <label>검색어</label>
       <input type='text' name='word' value='오버랜딩,오지,탐험,일상탈피,힐링,내공,추진력,문제해결' required="required" 
                 class="form-control" style='width: 100%;'>
    </div>   
    -->

    <div>
       <label>이미지</label>
                 <input type='file' class="form-control" name='fnamesMF' 
                     placeholder="파일 선택" multiple/>
        </div>
       

    <!--
    <div>
       <label>패스워드</label>
       <input type='password' name='passwd' value='1234' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>   -->
        <div>
       <label>url1</label>
       <input type='url' name='url_link'  
                 autofocus="autofocus" class="form-control" style='width: 100%;'/>
       <label>url2</label>
       <input type='url'  name='url_link'  value=" "
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
       <label>url3</label>
       <input type='url' name='url_link'  value=" "
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
       <label>url4</label>
       <input type='url'  name='url_link' value=" "
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
       <label>url5</label>
       <input type='url' name='url_link'  value=" "
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
      </div>
      
    <div class="content_body_bottom">
      <button type="button" onclick ="send();" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_search?cate_no=${cate_no}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>


  