<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <script>
  function whole_delete(){
	  let checkboxes = document.querySelectorAll('Input[name="scon_no"]');
	  let allchecked = true;
	  
	  checkboxes.forEach(checkbox =>{
		  if(!checkbox.checked){
			  allchecked = false;
			  return;
		  }
	  });
	  
	  checkboxes.forEach(checkbox =>{
		  checkbox.checked = !allchecked;
	  });
  }
  
    function select_delete(){
     let checkboxes = document.querySelectorAll('input[name="scon_no"]:checked');
     let sconnos=[];
     checkboxes.forEach((checkboxes) =>{
       sconnos.push(checkboxes.value);
     });
     

			for(let i = 0;i<sconnos.length;i++){
				console.log(sconnos[i]);
			}
        
        let confirmation = confirm("삭제하시면 복구할 수 없습니다. 정말 삭제하시겠습니까?");
        if(confirmation){
        fetch('/scontents/select_delete',{
          method:'POST',
          "headers":{"Content-Type":"application/json"},
        	body: JSON.stringify({"scon_no": sconnos,"cate_no":1})
        
        })
        .then(response => response.json())
        .then(rdata =>{
       	 if(rdata.cnt==0){
       		 alert("관리자 권한이 필요합니다.");
       		 return;
       	 }
          if(rdata.cnt>0){
            console.log('삭제성공');
            window.location.reload();
        }
          else { 
          console.log('삭제 실패');
          }
       })
        .catch(error => {
          console.error('Error.' ,error);
        })
      }

    
    		
  }
    
  </script>
  </head>
  <div layout:fragment="content">
		<div class='title_line'>
			<span style="font-size: 20px;" th:text="${categoryVO.cate_name}" class="title_line_text"></span >

				<span th:if="${hashtag != null and hashtag.tag_name != null}" th:text="|> ${hashtag.tag_name} (${count} 건)|" class="title_line_text"></span>
	</div>

	<aside class="aside_right">
		<a th:href="@{|/scontents/create?cate_no=${categoryVO.cate_no}|}">등록</a> 
		<span class="menu_devide">│</span> 
		<a href="javascript:location.reload();">새로고침</a>
	</aside>

	<!-- /contents/list_search_component.html 파일의 list_search_fragment import -->
	<div th:replace="~{scontents/list_search_component::list_search_fragment}"></div>

	<div class='menu_line'></div>
	
<div style="display: flex; justify-content: space-between; ">
<div style="display: flex; margin-left:78px;">
    <div th:each="hashtag, status:${list_hashtag}" th:attr="onclick=|location.href='/scontents/read_hashtag/${hashtag.tag_no}?cate_no=1'|" style="cursor: pointer; ">
    <div class="read_hashtag">
    <div th:if="${hashtag.tag_no eq tag_no}">
        <span style="font-weight: bold;" th:text="${hashtag.tag_name}"></span>
      </div>
      <div th:unless="${hashtag.tag_no eq tag_no}">
    		<span style="font-weight: normal;" th:text="${hashtag.tag_name}"></span>
			</div>
     
        </div>
    </div>
    </div>
    </div>
    
		<div style="text-align: right; margin-bottom: 10px; width: 95%;" th:if="${session.acc_grade=='admin'}" class="btn_group">
		      <button type="button" onclick="select_delete()" class="button_2"  style="margin-right:3px;">삭제</button>
		      <button type="button" onclick="whole_delete()" class="button_2">전체선택</button>
     </div> 
     
    
	<table class="table table-striped" style='width: 90%;  justify-content:center;' >
		<colgroup>
			<col style='width: 20%;' />
			<col style='width: 80%;' />
		</colgroup>
		
    <thead>
        <tr>
  				<th class='th_bs' style="background-color: #35C5F0; color: white; border: none;">이미지</th>
      		<th class='th_bs' style="background-color: #35C5F0; color: white; border: none;">게시글</th>
        </tr>
    </thead>

    <tbody>
		<tr th:if="${list_image.size() > 0}">
    <td class='td_basic' style="vertical-align: middle; text-align: center; margin-bottom: 10px;">
        <div th:each="share_imageVO, status:${list_image}" style="margin-bottom: 15px; display: flex; justify-content: center;">
            <div class="horizontal-container" style="margin-bottom: 10px; display: flex; align-items: center;">
            <div th:if="${session.acc_grade=='admin'}">
                <input type="checkbox"  id="scon_no" th:id="'scon_no_' + ${share_imageVO.scon_no}" name="scon_no" th:value="${share_imageVO.scon_no}" style="margin-right: 5px;">
						</div>
                    <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
                        <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}" 
                        		style="width: 120px; height: 90px; border-radius: 15%;">
                    </div>
                    <div th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}" 
                    			style="width: 120px; height: 90px; background-color: transparent;">
                        <span th:text="${share_imageVO.file_origin_name}"></span>
                    </div>
                </div>
            </div>
    </td>
   

<td class='td_basic' style="vertical-align: middle; text-align: left; position:relative; ">
    <div style="margin-bottom: 10px; margin-top:10px;">
        <div th:each="scontentsVO, status:${list}" class="content-item" th:classappend="${status.index % 2 == 0} ? 'even' : 'odd'">
            <div style="display: flex; justify-content: center; padding-bottom: 16px; padding-top: 5px;">
                <div style="width: 100%; border-bottom: 2px solid #ccc;">
                    <div style="display: flex; align-items: center; height: 102px;">
                        <div class='td_basic' th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${scontentsVO.scon_no}'|" style="cursor: pointer; width: 100%;">
                            <span  th:text="${scontentsVO.scon_title}" style="font-weight: bold;"></span><br>
                            
                            <span th:if="${scontentsVO.scon_contents.length() > 160}" 
                            				th:text="${scontentsVO.scon_contents.substring(0, 100)} + '...'"></span>
                            <span th:if="${scontentsVO.scon_contents.length() <= 160}" 
                            				th:text="${scontentsVO.scon_contents}"></span>
                            
                            <span id='acc_no' style="display: none;" value=""></span>
                            <br>
                            <div style="margin-left: auto; text-align: right; margin-right: 10px;">
                                <span th:text="${scontentsVO.scon_views}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</td>
</tr>

        <!-- 리스트가 비어있을 때 -->
        <tr th:if="${list_image.size() == 0}">
            <td colspan="2" style="text-align: center;">관련된 이미지가 없습니다.</td>
        </tr>
    </tbody>
</table>
</div>


	<!-- 페이지 버튼 목록 출력 시작 -->
	<div class="bottom_menu" th:utext="${paging}"></div>
	<!-- 페이지 버튼 목록 출력 종료 -->
</div>

</html>