<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
    <div style="text-align: right; clear: both; margin-right:88px;">
    <form name="frm_search" method="get" action="/scontents/list_by_search">
      <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
      <input type="text" name="word" id="word" th:value="${word}" >
      <button type='submit' class='btn btn-secondary btn-sm' 
                   style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;">검색</button>
      <span th:if="${word != null and word != ''}">
        <button type='button' class='btn btn-secondary btn-sm' 
                     style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;"
                     th:onclick="|location.href='/scontents/list_by_search?cate_no=1}'|">검색 취소</button>
      </span>
                    
    </form>
  </div>
</div>


