<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
<style>
  /* td 요소에 대해 수직 정렬을 설정합니다. */
  td {
    vertical-align: top; /* 상단에 정렬합니다. 필요에 따라 middle 등으로 변경 가능합니다. */
  }

  /* td 안의 div 요소에 대해 수직 정렬을 해제합니다. */

</style>

  <script>
  function whole_delete(){
	  let checkboxes = document.querySelectorAll('Input[name="scon_no"]');
	  let allchecked = true;
	  
	  checkboxes.forEach(checkbox =>{
		  if(!checkbox.checked){
			  allchecked = false;
			  return;
		  }
	  });
	  
	  checkboxes.forEach(checkbox =>{
		  checkbox.checked = !allchecked;
	  });
  }
  
    function select_delete(){
     let checkboxes = document.querySelectorAll('input[name="scon_no"]:checked');
     let sconnos=[];
     checkboxes.forEach((checkboxes) =>{
       sconnos.push(checkboxes.value);
     });
     let querystring = sconnos.map(sconno=>`scon_no=${sconno}`).join('&');
     let url = `./select_delete?${querystring}`;
     console.log(url);
     
     let confirmation = confirm("삭제하시면 복구할 수 없습니다. 정말 삭제하시겠습니까?");
     if(confirmation){
     fetch(url,{
       method:'GET',
     })
     .then(response => response.json())
     .then(rdata =>{
    	 if(rdata.cnt==0){
    		 alert("관리자 권한이 필요합니다.");
    		 return;
    	 }
       if(rdata.cnt>0){
         console.log('삭제성공');
         window.location.reload();
     }
       else { 
       console.log('삭제 실패');
       }
    })
     .catch(error => {
       console.error('Error.' ,error);
     })
   }
  }
    
  </script>
	<div class='title_line'>
		<span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|"
			class="title_line_text"></span>
		<span th:if="${tag_no != 0} and ${hashtag != null}" th:text="|> ${hashtag.tag_name} (${count} 건)|" class="title_line_text"></span>
	</div>

	<aside class="aside_right">
		<a th:href="@{|/scontents/create?cate_no=${categoryVO.cate_no}|}">등록</a> <span class="menu_devide">│</span> <a
			href="javascript:location.reload();">새로고침</a> <span
			class='menu_divide'>│</span> 
			<a th:href="@{|./list_by_search?word=${word}&now_page=${now_page}|}">목록형</a>
	</aside>

	<!-- /contents/list_search_component.html 파일의 list_search_fragment import -->
	<div
		th:replace="~{scontents/list_search_component::list_search_fragment}"></div>

	<div class='menu_line'></div>
	
<div style="display: flex; justify-content: space-between; ">
<div style="display: flex; margin-left:78px;">
    <div th:each="hashtag, status:${list_hashtag}" th:attr="onclick=|location.href='/scontents/read_hashtag/${hashtag.tag_no}?cate_no=1'|" style="cursor: pointer; ">
    <div class="read_hashtag">
        <span style="font-weight: bold;" th:text="${hashtag.tag_name}"></span>
        </div>
    </div>
    </div>
        <div style="margin-right:88px;">
      <button type="button" onclick="select_delete()" class="button_2"  style="margin-right:3px;">삭제</button>
      <button type="button" onclick="whole_delete()" class="button_2">전체선택</button>
      </div>
</div>
    <div style="display:flex; justify-content: center;">
	<table class="table table-striped" style='width: 90%;  justify-content:center;' >
		<colgroup>
			<col style='width: 20%;' />
			<col style='width: 80%;' />
		</colgroup>
		

    <thead>
        <tr>
            <th class="th_bs">파일</th>
            <th class="th_bs">제목</th>
        </tr>
    </thead>

    <tbody>


<tr th:if="${list_image.size() > 0}">
    <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:each="share_imageVO, status:${list_image}" style="margin-bottom:10px;">
        <div class="horizontal-container" style="margin-bottom:10px">
        	<input type="checkbox" th:id="'scon_no_' + ${share_imageVO.scon_no}" name="scon_no" th:value="${share_imageVO.scon_no}">
            <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
                <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}" style="width: 180px; height: 100px;">
            </div>
            <div th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}">
                <span th:text="${share_imageVO.file_origin_name}"></span>
            </div>
            </div>
            </div>
    </td>
    <td class='td_basic' style="vertical-align: middle; text-align: center;">
<div th:each="scontentsVO, status:${list}" style="cursor: pointer; margin-left: 30px; margin-bottom:23px">
		<div style="margin-bottom:1px;">
			    <div class='td_basic' th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${scontentsVO.scon_no}'|" style="cursor: pointer; margin-top:10px; margin-bottom:10px;">
			        제목:<span th:text="${scontentsVO.scon_title}" style="font-weight: bold;"></span><br>
			        <span th:if="${scontentsVO.scon_contents.length() > 160 }" th:text="|${scontentsVO.scon_contents.substring(0, 100)}...|"></span>
			        <span th:if="${scontentsVO.scon_contents.length() <= 160 }" th:text="|${scontentsVO.scon_contents}|"></span>
			        <br><br>
                    <div style="flex-grow: 1;"></div> <!-- This creates space -->
                    <div style="margin-left: auto; text-align: right;">
                        조회수: <span th:text="${scontentsVO.scon_views}"></span>
                    </div>
			    </div>
			</div>
			</div>
			</td>
	</tr>

        <!-- 리스트가 비어있을 때 -->
        <tr th:if="${list_image.size() == 0}">
            <td colspan="2" style="text-align: center;">관련된 이미지가 없습니다.</td>
        </tr>
    </tbody>
</table>
</div>

	<!-- 페이지 버튼 목록 출력 시작 -->
	<div class="bottom_menu" th:utext="${paging}"></div>
	<!-- 페이지 버튼 목록 출력 종료 -->

</div>
</html>