<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
<script>
			
        document.addEventListener('DOMContentLoaded', function() {
            // 페이지 로드 시 자동으로 데이터를 불러옴
            loadData();
        });
        function loadData(){
         console.log("loadData 들어옴");
        	//let msg ="";
        	let url='http://localhost:9095/api/notification/read/'+'[[${session.acc_no}]]';
        	console.log(url);
        	fetch(url,{
        		"method":"GET"
        	})
        	.then((response) => response.json())
        	.then((data) =>{
        		console.log(data.res);
        		for(let i = 0;i<data.res.length;i++){
        			console.log(data.res[i]);
        		
        		}
        		if(data.res.length>0){
        			data.res.forEach(item =>{
        				let msg ="";
        				let contents = item.contents;
        				let sender = item.sender;
        				let createdAt = item.create_At;
        				let scon_no = item.scon_no;
        				let id = item.id;
        				console.log('Contents:'+ contents + ' Sender:' + sender + ' created_At:'+ createdAt +' Scon No:'+ scon_no +'id:' +id);
        				let href = 'http://localhost:9093/scontents/read?cate_no=1&scon_no='+scon_no;
        				let url = 'http://localhost:9093/scontents/delete_notice/'+id+'?cate_no=1;'
        				msg += "<div onclick='delete_notice(" + id + ")'>삭제</div>"; // delete_notice 호출
        				msg +="<a href=" +href+ ">"
        				msg+= sender + "님으로 부터 새로운 답글이 달렸습니다." + "<br>";
        				msg += "<div>" + "내용: " +contents +"<br>" 
        				msg+=" time: " + createdAt + "</div></a>";
        				msg+="<br>";
        				 document.getElementById('notification-container').innerHTML = msg; // msg를 div에 삽입
        			}
        			
        			)
        		}else{
        			document.getElementById('notification-container').innerHTML = "알림이 없습니다."; // 알림이 없을 경우
        		}
        	}
        	)
        }
        function delete_notice(id) {
        	let url = 'http://localhost:9093/scontents/notice/delete';
        	console.log("들어옴")
        	fetch(url,{
        		"method":"POST",
        		"headers": {"Content-Type": "application/json"},
        		body:JSON.stringify({"id":id})
        	})
        	.then((response) =>response.json())
        	.then((data)=>{
        		if(data['cnt']==1){
        			console.log("알림 삭제성공");
        			loadData();
        		}else{
        			alert("알림삭제 실패했습니다. 다시 시도해주세요.");
        		}
        	});
        }


        

      
    </script>

  <div class='title_line'>
 
    > 알림
  </div>
  
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
    <div>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">

<div style='margin: 0px auto; width: 900px;'>
<div id="notification-container"></div>

    <br>
    <div style="display:flex; align-items: center; flex-direction:row; justify-content: space-between; padding:10px;" > 
       <!-- <div style="margin-left: auto; margin-right:86px;">  -->
			</div>

     <hr size="10;" style="margin-top:1px; margin-bottom:1px;"> 

    		<br>
   
				<br>
		
<div style="display:flex; flex-direction:row; justify-content: space-between;">
</div>

</div>
    </div>
    </div>
      </li>

      </div>
    </ul>
    <br>
  </fieldset>


    <span id='id_msg'></span>  

</div>

</html>