<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
			<script>
					let reply_data; // 댓글 500건 저장
					let reply_now_page=1; // 댓글 현재 페이지
			</script>
			
       <script>
       window.onload=() =>{
					let content_tag=document.getElementById('content');
					let btn_create_tag=document.getElementById('btn_create'); //등록
					let btn_add_tag = document.getElementById("btn_add"); //더보기
					let scmt_date_tag = document.getElementById("scmt_date");
					
					
					let reply_list_tag = document.getElementById("reply_list"); //목록 출력
					let scmt_no_tag = document.getElementById("scmt_no");
					let acc_no_tag = document.getElementById("acc_no");
					
					let btn_save_tag=document.getElementById("btn_save");
					let btn_delete_tag = document.getElementById("btn_delete");
					let btn_cancel_tag = document.getElementById("btn_cancel"); // 수정/삭제 취소
					

					content_tag.addEventListener('click',() =>{
						let id = '[[${session.acc_id}]]'; //jaxascript -> thymeleaf -> session
						//alert('Click!: ' +id);
						if(id==''){
							alert('로그인해야 댓글을 입력 할 수 있습니다.');
							location.href="/account/login?url=/scontents/read?cate_no=1%26scon_no=[[${scontentsVO.scon_no}]]%26word=[[${word}]]%26now_page=[[${now_page}]] ";
							
						}else{
							//alert('로그인');
							//content_tag.focus();
						}
					});
					
					btn_create_tag.addEventListener('click',() =>{
					let content = content_tag.value.trim();
						if(content.length == 0){
							alert('내용이 없습니다. 내용을 입력해주세요.');
						}else{
							// {"sentence":"안녕하세요.","language":"영어","age":"25"}
					        // console.log(JSON.stringify({sentence, language, age}))
					        // return;
					        //
					        fetch("/reply/create",{
		                  "method": "post", 
		                  "headers": {"Content-Type": "application/json"},
					        	body:JSON.stringify({"scon_no":"[[${scontentsVO.scon_no}]]","scmt_comment":content})
					        })
					        .then((response) => response.json())
					        .then((data) =>{
                    let sortOption = document.getElementById('latestLink').style.textDecoration === 'underline' ? 'latest' : 'asc';
                    if (sortOption === 'latest') {
                      list_by_contentsno_join(); // 최신순으로 댓글 목록 갱신
                      content_tag.focus();
                    } else {
                      asc_list_by_smt_no_join(); // 작성순으로 댓글 목록 갱신
                      content_tag.focus();
                    }
                    
					        	content_tag.value = ""; // 댓글 입력 필드 초기화
					        });
					        //result_animation_tag.innerHTML = '<img src="/static/images/progress.gif" style="width: 15%; margin-top: 0px;">';
						}
					});
					
					//페이징 처리
					btn_add_tag.addEventListener('click',()=>{ //더보기 출력
						console.log("더보기 클릭함.");
						if(reply_data.length>reply_now_page*5){
							//console.log("들어옴")
							let start = 0;
							let end = 0;
							if(reply_data.length>5){
								start = reply_now_page *5;
								end = (reply_now_page *5 ) +5;
								
								let msg = "";
								let page_div = document.createElement('div');
								     /*
						    	   fetch("/reply/list_by_contentsno_join?scon_no=[[${scontentsVO.scon_no}]]",{
						    		   "method":"get"
						    	   })
						    	   .then((response) => response.json())
						    	   .then((data) => {
						    		   reply_data=data['res'];
						    		   */
												for(let i = start;i<end;i++){
													console.log("들어옴");
													if(i==reply_data.length){
														break;
													}
				    			   			 let row = reply_data[i];
					   	             msg += "<div id='"+row.scmt_no+"' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
					   	             msg += "<span style='font-weight: bold;'>" + row.acc_id + "</span>";
					   	          	 msg += " "+row.scmt_date;

                          msg += "  <a href='javascript:recomment_read_form(" + row.scmt_no + ", \"" + row.acc_no + "\", \"" + row.acc_id + "\")'>답글</a>";
                          if ("[[${session.acc_no}]]" == row.acc_no) {
                            msg += "<span class='menu_divide'>│</span>"
                            msg += " <a href='javascript:recomment_update(" + row.srecmt_no + ")'>수정</a>";
                            msg += "<span class='menu_divide'>│</span>"
                            msg += "  <a href='javascript:recomment_delete(" + row.srecmt_no + ")'>삭제</a>";
                          }
                          
                          msg += " " + "<br>";
			    	              msg += row.scmt_comment;
			    	              msg += "</div>";
			    	              msg += "<div id='recomment_area_" + row.scmt_no + "' style='display: none; margin-left: 20px;'></div>";
												}
				                 page_div.innerHTML = msg; //  페이지에 속한 레코드들 추가
				                 reply_list_tag.appendChild(page_div);
				                 
				                 reply_now_page = reply_now_page + 1;
											// });
							}
						}
						
					});
					
						btn_save_tag.addEventListener('click',()=>{
							let scmt_no = scmt_no_tag.value;
							let content = content_tag.value;
							let acc_no = acc_no_tag.value;
								
								if(content.length ==0){
									alert("내용이 없습니다. 내용을 입력해주세요")
								}else{
									fetch("/reply/update",{
										 "method": "post", 
		                  "headers": {"Content-Type": "application/json"},
		                  body: JSON.stringify({"acc_no": acc_no, "scmt_no": scmt_no, "scmt_comment": content})
									})
									.then((response) => response.json())
									.then((data) =>{
										if(data['res']==0){
											alert("댓글 수정에 실패했습니다. 잠시후 다시 시도해 주세요")
										}else{
											list_by_contentsno_join(); // 기본형(=최신순) 댓글 목록 출력)
											content_tag.value="";
											content_tag.focus();
											btn_visible('default');
										}
									});
								}
					});
					
					// 취소 버튼 클릭 이벤트 처리
          btn_cancel_tag.addEventListener('click', () => {
            content_tag.value = '';
          });

          underline('latest'); // 댓글 출력 밑줄 초기화
					list_by_contentsno_join(); // 기본형(=최신순) 댓글 목록 출력)
       } // window.onload END

        // 최신순 목록 출력
        // 5건 미만이면 5회 미만 순환, 5건 이상 5회 순환
        function list_by_contentsno_join() {
           fetch("/reply/list_by_contentsno_join?scon_no=[[${scontentsVO.scon_no}]]&acc_no=[[${session.acc_no}]]", {
            "method": "get"
          })
            .then((response) => response.json())
            .then((data) => {
              reply_data = data['res'];
              render_comments();
            });
        }
        
        // 작성순 목록 출력
        // 5건 미만이면 5회 미만 순환, 5건 이상 5회 순환
        function asc_list_by_smt_no_join() {
          fetch("/reply/asc_list_by_smt_no_join?scon_no=[[${scontentsVO.scon_no}]]", {
            "method": "get"
          })
            .then((response) => response.json())
            .then((data) => {
              reply_data = data['res'];
              render_comments();
            });
        }
        
        // 댓글 목록 출력 함수
        function render_comments() {
          let msg = '';
          let cnt = Math.min(reply_data.length, reply_now_page * 5);

          for (let i = 0; i < cnt; i++) {
            let row = reply_data[i];
             msg += "<div id='"+row.scmt_no+"' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
             msg += "<span style='font-weight: bold;'>" + row.acc_id + "</span>";
             msg += " "+row.scmt_date;

            // 답글 보이기/숨기기 처리
            msg+= "  <a href='javascript:recomment_read_form("+ row.scmt_no + ", \"" + row.acc_no + "\")'>답글</a>";
            if ("[[${session.acc_no}]]" == row.acc_no) {
              msg += "<span class='menu_divide' >│</span>"
              msg += " <a href='javascript:reply_update(" + row.scmt_no + ")'>수정</a>";
              msg += "<span class='menu_divide' >│</span>"
              msg += "  <a href='javascript:reply_delete(" + row.scmt_no + ")'>삭제</a>";
            }
            
            msg += "  " + "<br>";
            msg += row.scmt_comment;
            msg += "</div>";
            msg += "<div id='recomment_area_" + row.scmt_no + "' style='display: none; margin-left: 20px;'></div>";
          }

         document.getElementById("reply_list").innerHTML = msg;
        }
        
        // 최신순/작성순 클릭에 따라 밑줄 토글 함수
        function underline(option) {
          let latestLink = document.getElementById('latestLink');
          let oldestLink = document.getElementById('oldestLink');

          latestLink.style.textDecoration = 'none';
          oldestLink.style.textDecoration = 'none';

          if (option === 'latest') {
            latestLink.style.textDecoration = 'underline';
            list_by_contentsno_join(); // 최신순으로 댓글 목록 갱신
          } else if (option === 'oldest') {
            oldestLink.style.textDecoration = 'underline';
            asc_list_by_smt_no_join(); // 작성순으로 댓글 목록 갱신
          }
        }

       /*
       // 댓글 목록 old ver.
       function list_by_contents_join(){
    	   let cnt = 0 //출력 순환 횟수
    	   fetch("/reply/list_by_contentsno_join?scon_no=[[${scontentsVO.scon_no}]]&acc_no=[[${session.acc_no}]]",{
    		   "method":"get"
    	   })
    	   .then((response) => response.json())
    	   .then((data) => {
    		   reply_data=data['res'];
    		   if(reply_data.length>5){
    			   cnt=5;
    		   }else{
    			   cnt = reply_data.length;
    		   }
    		   let msg ="";
    		   for(let i = 0;i<cnt;i++){
		   			 let row = reply_data[i];

 	             msg += "<div id='"+row.scmt_no+"' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
 	             msg += "<span style='font-weight: bold;'>" + row.acc_id + "</span>";
 	          	 msg += " "+row.scmt_date;

	   	          	 
    	             if("[[${session.acc_no}]]" == row.acc_no){
    	                 msg += " <a href='javascript:reply_update("+row.scmt_no+")'>수정</a>";
    	                 msg +="<span class='menu_divide' >│</span>"
    	                 msg += "  <a href='javascript:reply_delete("+row.scmt_no+")'>삭제</a>";
    	                 msg +="<span class='menu_divide' >│</span>"

    	             }
    	             msg+= "  <a href='javascript:recomment_read_form("+ row.scmt_no + ", \"" + row.acc_no + "\")'>답글</a>";
    	             //msg += "  <a href='javascript:recomment_create_form("+ row.scmt_no + ", \"" + row.acc_no + "\")'>답글</a>";
    	             msg += " " + "<br>";
    	             msg += row.scmt_comment;
    	             msg += "</div>";
    	             msg += "<div id='recomment_area_" + row.scmt_no + "' style='display: none; margin-left: 20px;'></div>";
    		   }
    		   

    		   document.getElementById("reply_list").innerHTML = msg;
    	   });
       }
       )*/
       
       function reply_delete(scmt_no){
    	   let content_tag = document.getElementById("content");
    	   fetch("/reply/read?scmt_no=" + scmt_no,{
    		   "method":"get",
    		   "headers": {"Content-Type": "application/json"},
    	   })
    	   .then((response) =>response.json())
    	   .then((data)=>{
    		   let sw = confirm("「" + data['res']['scmt_comment'] + "」 \n삭제하시려면 확인 버튼을 누르세요. 삭제후 복구 할 수 없습니다." );
    		   if(sw==true){
    			   fetch("/reply/delete",{
    			   "method":"POST",
    			   "headers": {"Content-Type": "application/json"},
    			   body: JSON.stringify({"scmt_no": scmt_no, "acc_no": data['res']['acc_no']})
    		   })
    		   .then((response) =>response.json())
    		   .then((data) =>{
    			   if(data['res'] ==1){
    				   console.log("삭제 성공")
    				   list_by_contentsno_join();
    				   content_tag.value="";
    				   content_tag.focus();
    			   }else{
    				   alert("댓글 삭제에 실패했습니다. 잠시 후 다시 시도해주세요.")
    			   }
    		   });
    	   }else{
    		   alert("삭제를 취소 했습니다.");
    		   }
    	   });
       }
       
       //수정폼
       function reply_update(scmt_no){
    	   let scmt_no_tag = document.getElementById("scmt_no")
    	   let acc_no_tag = document.getElementById("acc_no")
    	   let content_tag = document.getElementById("content");
    	   
    	   fetch("/reply/read?scmt_no=" + scmt_no,{
    		   "method":"GET",
    		   "headers": {"Content-Type": "application/json"},
    	   })
    	   .then((response) => response.json())
    	   .then((data)=>{
    		   scmt_no_tag.value=data['res']['scmt_no'];
    		   acc_no_tag.value=data['res']['acc_no']
    		   content_tag.value=data['res']['scmt_comment']
    		   content_tag.focus();
    		   btn_visible('update');
    	   });
    	   
         // 취소 버튼 클릭 시 이벤트 핸들러
         let btn_cancle_tag = document.getElementById('btn_cancel');
         btn_cancle_tag.addEventListener('click', function () {
           document.getElementById('content').value = ''; // 댓글 내용 초기화
           btn_visible('default'); // 버튼 초기화 상태로 복귀
         });
    	   
       }
       
       function reply_cancel(scmt_no){
    	   fetch("/reply/like_cancel",{
    		   "method":"POST",
    		   "headers":{"Content-Type":"application/json"},
    		   body: JSON.stringify({"scon_no":"[[${scontentsVO.scon_no}]]","scmt_no": scmt_no, "acc_no": "[[${session.acc_no}]]"})
    	   })
    	   .then((response) =>response.json())
    	   .then((data)=>{
    		   console.log(data['cnt'])
    		   if(reply_now_page>1){
    			   console.log("더보기 필요함");
    			   console.log(reply_now_page);
    		   }
    		   list_by_contentsno_join();
    	   })
       }
       
       function reply_like(scmt_no){
    	   let acc_no_tag = document.getElementById("acc_no");
    	   let scmt_no_tag = document.getElementById("scmt_no")
    	   fetch("/reply/like",{
    		   "method":"POST",
    		   "headers":{"Content-Type":"application/json"},
    		   body: JSON.stringify({"scon_no":"[[${scontentsVO.scon_no}]]","scmt_no": scmt_no, "acc_no": "[[${session.acc_no}]]"})
    	   })
    	   .then((response) =>response.json())
    	   .then((data)=>{
    		   console.log(data['cnt'])
    		   if(reply_now_page>1){
    			   console.log("더보기 필요함");
    			   console.log(reply_now_page);
    		   }
    		   list_by_contentsno_join();
    	   });
       }
       
       function btn_visible(sw){
           let btn_create =document.getElementById("btn_create");
           let btn_save =document.getElementById("btn_save");
           let btn_cancel =document.getElementById("btn_cancel");
           
           if(sw=='update'){
        	   btn_create.style.display='none';
        	   btn_save.style.display='';
        	   btn_cancel.style.display=''
           }else if(sw=='default'){
              btn_create.style.display=''; 
              btn_save.style.display='none';
              btn_cancel.style.display='none';
           }
       }
       
 		 ///////대댓글
     //대댓글 등록
      function recomment_create_form(scmt_no, acc_no, acc_id) {
        //console.log("acc_no->" + acc_no);

        fetch("/recomment/read_account?acc_no=" + acc_no, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        })
        .then((response) => response.json())
        .then((data) => {
          let msg = ""
          console.log(data['acc_id']);
          //msg += "<input type='text' value='" + data['acc_id'] + "'></input>";
          if (typeof data['acc_id'] !== 'undefined') {
            msg += "<br/>";
            msg += "<div style='font-size: 15px;' value='" + data['acc_id'] + "'>" +
              "<span style='text-align: center; color: blue; text-decoration: underline;'>@" + data['acc_id'] + "</span> 에게 답장하기" +
              "</div>";
            msg += "<textarea name='recomment_comment' class='form-control' id='recomment_comment' style='width: 100%; height: 60px;' autofocus='autofocus' placeholder='@" + data['acc_id'] + " 에게 답글 작성 ....' autofocus></textarea>";
          } else {
            msg += "<br/>";
            msg += "<div style='font-size: 15px;' value='" + data['acc_id'] + "'>" +
              "<span style='text-align: center; color: blue; text-decoration: underline;'>@" + data['acc_id'] + "</span> 에게 답장하기" +
              "</div>";
            msg += "<textarea name='recomment_comment' class='form-control' id='recomment_comment' style='width: 100%; height: 60px;' autofocus='autofocus' placeholder='@" + data['acc_id'] + " 에게 답글 작성 ....' autofocus></textarea>";
            return false;
          }
          //msg += "<textarea name='recomment_comment' class='form-control' id='recomment_comment' style='width: 100%; height: 60px;' autofocus='autofocus'>@" +data['acc_id'] + "</textarea>";
          msg += "<div style='text-align: right; margin-top: 10px;'>";
          msg += "<br>";
          msg += " <button type='button' id='recomment_create'>  답  글  </button> ";
          msg += " <button type='button' id='recomment_save' style='display: none;'>  저  장  </button> ";
          msg += " <button type='button' id='recomment_delete' style='display: none;'>  삭  제  </button> ";
          msg += " <button type='button' id='recomment_cancel' style='display: none;'>  취  소  </button> ";
          msg += " <button type='button' id='recomment_close'> 닫 기 </button> ";
          msg += "</div>";

          document.getElementById("re_comment_list").innerHTML = msg;

          let comment_tag = document.getElementById("recomment_comment");
          //#{scmt_no},#{scon_no},#{re_comment},#{acc_no} let id = '[[${session.acc_id}]]';
          let recomment_tag = document.getElementById("recomment_create");
          let close_tag = document.getElementById("recomment_close");
          document.getElementById("re_comment_list").style.display = '';

          recomment_tag.addEventListener('click', () => {
            let content = comment_tag.value.trim();
            console.log(content);
            console.log('[[${session.acc_no}]]');

            if (content.length == 0) {
              alert("내용이 없습니다. 내용을 입력해주세요.");
              return;
            } else {
              fetch("/recomment/create", {
                "method": "post",
                "headers": {"Content-Type": "application/json"},
                body: JSON.stringify({
                  "scon_no": "[[${scontentsVO.scon_no}]]",
                  "srecmt_contents": "<span style='color: blue; text-decoration: underline;'>@" + data['acc_id'] + "</span> " + content,
                  "scmt_no": scmt_no,
                  "acc_no": '[[${session.acc_no}]]'
                })
              })
              .then((response) => response.json())
              .then((data) => {
                comment_tag.value = "";
                //console.log(data['cnt']);
                recomment_read_form(scmt_no); //대댓글 읽어오기
              });
            }
          });
          
          close_tag.addEventListener('click', () => {
            close_recomment(scmt_no); // 대댓글 창 숨기기
            document.getElementById("re_comment_list").style.display = 'none';
          });
        });
      }
      
      // 대댓글 보이기/숨기기 함수
      function close_recomment(scmt_no, acc_no) {
        let areaId = "recomment_area_" + scmt_no;
        let area = document.getElementById(areaId);
  
        area.style.display = 'none'; // 대댓글 목록 숨기기
      }
      var a ="";
     //대댓글 수정
     function recomment_update(srecmt_no){
       console.log(srecmt_no);
       console.log("대댓글 수정 클릭");
       //recomment_tag.focus();
       let scmt_no="";
       let recomment_tag = document.getElementById("recomment_comment");
       
       fetch("/recomment/read_comment?srecmt_no=" + srecmt_no,{
         "method":"GET",
         "headers": {"Content-Type": "application/json"},
       })
       .then((response) => response.json())
       .then((data) =>{
         let srecmt_contents = data['res']['srecmt_contents'];
        a = data['res']['acc_id'];
        console.log(data['res']['acc_id']);
        console.log("acc_id" +a);
         // srecmt_contents에서 span 태그 부분을 제외한 content만 추출하기
         let content = "";
         let div = document.createElement('div');
         div.innerHTML = srecmt_contents;
         let div_nodes = div.childNodes;
         for (let i = 0; i < div_nodes.length; i++) {
           let node = div_nodes[i];
           if (node.nodeName !== 'SPAN') {
             content += node.textContent || node.innerText;
           }
         }
         
         // recomment_tag.value = data['res']['srecmt_contents'];
         recomment_tag.value = content.trim();
         scmt_no = data['res']['scmt_no'];
         recomment_tag.focus();
         visible('update');
       });
       
       let update_tag = document.getElementById("recomment_save");
       update_tag.addEventListener('click', () => {
         console.log("수정버튼 누름");
         let content = recomment_tag.value.trim();

         if (content.length == 0) {
           alert("내용이 없습니다. 내용을 입력해주세요.");
         } else {
           // 대댓글 저장 시 span 태그를 포함하여 저장
           let srecmt_contents = "<span style='color: blue; text-decoration: underline;'>@" + a+ "</span> " + content;

           fetch("/recomment/update", {
             "method": "post",
             "headers": {"Content-Type": "application/json"},
             body: JSON.stringify({"srecmt_no": srecmt_no, "srecmt_contents": srecmt_contents, "acc_no": '[[${session.acc_no}]]'})
           })
           .then((response) => response.json())
           .then((data) => {
             if (data['res'] == 0) {
               alert("댓글 수정에 실패했습니다.");
             } else {
               console.log("수정 완료");
               recomment_read_form(scmt_no);
               recomment_tag.value = "";
               recomment_tag.focus();
               visible('default');
             }
           });
         console.log(content);
         }
       });
       
       // 취소 버튼 클릭 이벤트 처리
       let btn_cancel_tag = document.getElementById("recomment_cancel");
       btn_cancel_tag.addEventListener('click', () => {
         recomment_tag.value = '';
         visible('default'); // 버튼 상태 원래대로 변경
       });
     }
     
    //대댓글 삭제
    function recomment_delete(srecmt_no) {
      let sw = "답글을 삭제하시겠습니까? \n삭제하시려면 확인 버튼을 누르세요. 삭제 후 복구할 수 없습니다.";
      
      if (confirm(sw)) {
        fetch("/recomment/delete", {
          "method": "POST",
          "headers": {"Content-Type": "application/json"},
          body: JSON.stringify({"srecmt_no": srecmt_no, "acc_no": '[[${session.acc_no}]]'})
        })
        .then((response) => response.json())
        .then((data) => {
          if (data['res'] == 1) {
            console.log("삭제 성공")
            console.log(data['res']['scmt_no']);
            recomment_read_form(data['scmt_no']);
          } else {
            alert('댓글 삭제에 실패했습니다. 다시 시도해주세요.');
          }
        });        
      } else {
        alert('답글 삭제 취소했습니다.');
      }
    }
  
    // 대댓글 목록
    function recomment_read_form(scmt_no, acc_no) {
      let areaId = "recomment_area_" + scmt_no;
      let area = document.getElementById(areaId);
      area.innerHTML = "";
  
      fetch("/recomment/read?scmt_no=" + scmt_no, {
        "method": "GET",
        "headers": {"Content-Type": "application/json"},
      })
      .then((response) => response.json())
      .then((data) => {
        let recomment_data = data['res'];
        let cnt = recomment_data.length;
        let msg = "";

        for (let i = 0; i < cnt; i++) {
          let row = recomment_data[i];
          msg += "<div style='display: flex; align-items: flex-start; margin-left:0px; padding: 10px;'>";
          msg += "<div id='" + row.srecmt_no + "'style='width: 100%; border-bottom: solid 3px #EEEEEE; margin-bottom: 10px;'>";
          msg += "<span style='font-weight: bold;'>@" + row.acc_id + "</span>";
          msg += " " + row.srecmt_date + " ";
          msg += "  <a href='javascript:recomment_create_form(" + row.scmt_no + ", \"" + row.acc_no + "\", \"" + row.acc_id + "\")'>답글</a>";
          if ("[[${session.acc_no}]]" == row.acc_no) {
            msg += "<span class='menu_divide'>│</span>"
            msg += " <a href='javascript:recomment_update(" + row.srecmt_no + ")'>수정</a>";
            msg += "<span class='menu_divide'>│</span>"
            msg += "  <a href='javascript:recomment_delete(" + row.srecmt_no + ")'>삭제</a>";
          }

          msg += "<br/>";
          msg += row.srecmt_contents;
          msg += "</div>";
          msg += "</div>";
        }
        area.innerHTML = msg;
        area.style.display = 'block';

        // 대댓글 입력 폼 생성
        recomment_create_form(scmt_no, acc_no);
      });
    }
       
       
   function visible(sw){
       let btn_create =document.getElementById("recomment_create");
       let btn_save =document.getElementById("recomment_save");
       //let btn_cancel =document.getElementById("recomment_delete");
       let btn_cancel =document.getElementById("recomment_cancel");
       let btn_close = document.getElementById("recomment_close");
       
       if(sw=='update'){
    	   btn_create.style.display='none';
    	   btn_save.style.display='';
    	   btn_cancel.style.display=''
  	     btn_close.style.display = 'none';
       }else if(sw=='default'){
          btn_create.style.display=''; 
          btn_save.style.display='none';
          btn_cancel.style.display='none';
          btn_close.style.display = '';
       }
     }
       
		</script>
  
    <script>

      function mark() {
        console.log("mark  클릭");
        let scon_no = document.getElementById("scon_no").value;
        let cate_no = 1;

        let url;
        let currentImg = document.getElementById("bookmarkImage").src;

        if (currentImg.endsWith("bookmark_off.png")) {
          url = './up_priority/' + scon_no + '?cate_no=' + cate_no;
        } else {
          url = './down_priority/' + scon_no + '?cate_no=' + cate_no;
        }

        fetch(url, {
          method: 'GET',
        })
          .then(response => response.json())
          .then(rdata => {
            if (rdata.cnt == 0) {
              alert("로그인이 필요합니다.");
              return;
            }
            if (rdata.cnt > 0) {
              //console.log("우선순위 변경 선공");
              if (currentImg.endsWith("bookmark_off.png")) {
                document.getElementById("bookmarkImage").src = "/css/images/bookmark_on.png";
                alert("찜하기에 등록했어요!");
              } else {
                document.getElementById("bookmarkImage").src = "/css/images/bookmark_off.png";
              }
            }
          })
          .catch(error => {
            console.log('Error:', error);
          });
      }

      function confirmUpdate(member_no, acc_no, scon_no, cate_no) {
        if (member_no != acc_no && acc_no > 3) {
          alert("권한이 필요합니다.");
          return false;
        }
        const url = `./update_text/${member_no}?scon_no=${scon_no}&cate_no=${cate_no}`;
        window.location.href = url;
        return true;
      }

      function confirmDelete(member_no, acc_no, scon_no, cate_no) {
        if (member_no != acc_no && acc_no > 3) {
          alert("권한이 필요합니다.");
          return false;
        }
        const url = `./delete/${member_no}?scon_no=${scon_no}&cate_no=${cate_no}`;
        window.location.href = url;
        return true;
      }

      function confirmFile(member_no, acc_no, scon_no, cate_no) {
        if (member_no != acc_no && acc_no > 3) {
          alert("권한이 필요합니다.");
          return false;
        }
        const url = `./update_file/${member_no}?scon_no=${scon_no}&cate_no=${cate_no}`;
        window.location.href = url;
        return true;
      }
    </script>

  <div class='title_line'>
    <span th:text="${scontentsVO.scon_title}" class="title_line_text"></span > 
    > 글 조회
  </div>
  
  <aside class="aside_right" >
    <a href="./create?cate_no=1">등록</a>
    <span class='menu_divide' >│</span>
    <a href="#" th:attr="onclick=|return confirmUpdate(${member_no}, '${acc_no}', ${scontentsVO.scon_no}, 1)|">글수정</a>
    <span class='menu_divide' >│</span>
       <a href="#" th:attr="onclick=|return confirmFile(${member_no}, '${acc_no}', ${scontentsVO.scon_no}, 1)|">파일수정</a>
    <span class='menu_divide' >│</span>    
    <a href="#" th:attr="onclick=|return confirmDelete(${member_no}, '${acc_no}', ${scontentsVO.scon_no}, 1)|">삭제</a>
    <span class='menu_divide' >│</span>


    <a href="javascript:location.reload();">새로고침</a>

  </aside> 

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
    <div>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">

<div style='margin: 0px auto; width: 900px;'>

    <br>
    <div style="display:flex; align-items: center; flex-direction:row; justify-content: space-between;" > 
       <!-- <div style="margin-left: auto; margin-right:86px;">  -->

       <div style="flex:1; text-align: left;">
       <span style="font-size: 1em; margin-left:10px;" th:text="|조회수: ${scontentsVO.scon_views}|"></span>
        북마크<span th:if="${scontentsVO.scon_bookmark =='N'}">
            <img src="/css/images/bookmark_off.png" id="bookmarkImage" class="icon" onclick="mark()" style="width:24px; height: 24px;">
        </span>
        <span  th:unless="${scontentsVO.scon_bookmark =='N'}">
            <img src="/css/images/bookmark_on.png" id="bookmarkImage" class="icon" onclick="mark()" style="width:24px; height: 24px;">
        </span>
     <span style="font-size: normal; margin-left:1px;" th:text="${count1}">
        </span>
        
        </div>
        <div style="flex: 2; text-align: center;">
        <span th:text="${scontentsVO.scon_title}" style="font-size:2em;font-weight: bold;"></span>
        </div>
        
        <div style="flex: 2; text-align: right;">
   <img th:src="@{|/contents/storage/${img_acc.acc_thumb_img}|}" style="width: 30px; height: 32px; border-radius: 50%;"
         th:if="${img_acc.acc_saved_img.endsWith('jpg') or img_acc.acc_saved_img.endsWith('png') or img_acc.acc_saved_img.endsWith('gif')}">
    <img src="/scontents/images/profile.png" style="width: 30px; height: 32px; border-radius: 50%;"
         th:unless="${img_acc.acc_saved_img.endsWith('jpg') or img_acc.acc_saved_img.endsWith('png') or img_acc.acc_saved_img.endsWith('gif')}">

    작성자: <span style="font-size: normal;" th:text="${writer}"></span>
    작성일: <span style="font-size: normal;" th:text="${scontentsVO.scon_date}"></span>
			</div>
			</div>

     <hr size="10;" style="margin-top:1px; margin-bottom:1px;"> 

      <div class="fotorama" data-autoplay="5000" data-nav="thumbs" data-ratio="800/520" style='display: flex; justify-content: center; align-items: center; width: 100%;'>
        <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}"  th:each="share_imageVO, status: ${share_imageVO}"
                th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
                </div>
    		<br>
    
		<div class ="horizontal-container">
   		<tr th:each="item, status : ${list2}">
   			<div class='read_hashtag' style = "padding:5px">
        	<td>
            	#<span th:text="${item.tag_name}" class="bold;"></span>
        	</td>
      	</div>
    	</tr>
    </div>

					<div style="text-align:left; margin-top:5px;" >
					<span style="font-size: 1.5em; font-weight: normal;" th:text="${scontentsVO.scon_contents}"></span><br>
					          <div style="white-space: pre-wrap;"></div>
          </div>
          <input type="hidden" id="scon_no" name="scon_no" th:value="${scontentsVO.scon_no}">
          <input type="hidden" id="acc_id" name="acc_id" th:value="${session.acc_id}">
				<br>
		
<div style="display:flex; flex-direction:row; justify-content: space-between;">
    <div>
        <span style="font-size:1.5em">데스크 제품 목록</span>
        
        <br>
        <a style="font-size: 1em;" th:href="${url_list0}" th:text="${url_list0}" th:if="${url_list0 != '1'}" >Link1</a><br>
        <a style="font-size: 1em;" th:href="${url_list1}" th:text="${url_list1}" th:if="${url_list1 != '1'}">Link2</a><br>
        <a style="font-size: 1em;" th:href="${url_list2}" th:text="${url_list2}"  th:if="${url_list2 != '1'}">Link3</a><br>
        <a style="font-size: 1em;" th:href="${url_list3}" th:text="${url_list3}"   th:if="${url_list3 != '1'}">Link4</a><br>
        <a style="font-size: 1em;" th:href="${url_list4}" th:text="${url_list4}"  th:if="${url_list4 != '1'}">Link5</a>
    </div>
</div>
			<br><br>
			 
			  <div style='width: 80%; margin: 0px auto; clear:both;'>
        <div style="float:left;">
          댓글 <span th:text="${count}"></span>
          &nbsp;<a href="#" id="latestLink" onclick="list_by_contentsno_join(); underline('latest')" >최신순</a>
          &nbsp;<a href="#" id="oldestLink" onclick="asc_list_by_smt_no_join(); underline('oldest')">작성순</a>
        </div><br>
			     <hr>  
			      <form name='frm_reply' id='frm_reply'> 
			          <input type='hidden' name='scon_no' id='scon_no' value='${scontentsVO.scon_no}'>
			          <input type='hidden' name='acc_no' id='acc_no' value=''>
			          <input type='hidden' name='scmt_no' id='scmt_no' value=''>
			          
			          <textarea name='content'  class='form-control' id='content' style='width: 100%;  height: 60px;' 
			          							placeholder="댓글 작성, 로그인해야 등록 할 수 있습니다." autofocus='autofocus'></textarea>
			          							<br>
			          <div style='text-align: center;'> 
      					 <button type='button' id='btn_create'>  등  록  </button>
                 <button type='button' id='btn_save' style='display: none;'>  저  장  </button>
                 <button type='button' id='btn_delete' style='display: none;'>  삭  제  </button>
                 <button type='button' id='btn_cancel' style='display: none;'>  취  소  </button>
                 <button type='button' id='btn_closel' style='display: none;'> 닫 기 </button>
               </div>               
			      </form>
			      
			      <div id='reply_list' data-replypage='1'>  
			      등록된 댓글이 없습니다.
			      </div>
            <div id='re_comment_list' data-replypage='1'>
            </div>
            <div id='re_comment_read' data-replypage='1'>
            </div>

            <div id='reply_list_btn' style='border: none'>
                <button id='btn_add' style='width: 100%;'>더보기 ▽</button>
            </div>  
			 
			  </div>
			  <br>
			  <br>
			  관련된 글<hr>
<div style="display: flex; flex-wrap: wrap; gap: 15px;">
    <div th:each="share_imageVO, status:${tag_share_imageVO}" style="display: flex; align-items: center;">
        <div class="horizontal-container" th:attr="onclick=|location.href='/scontents/read?cate_no=1&scon_no=${share_imageVO.scon_no}'|" style="cursor: pointer; display: flex; align-items: center;">
            <div th:if="${share_imageVO.scon_no}!=${scontentsVO.scon_no}" style="width: 180px; height: 100px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}" style="width: 100%; height: 100%;">
                    <img th:src="@{|/contents/storage/${share_imageVO.file_thumb_name}|}" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div th:if="${((share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')) == false) and (share_imageVO.file_size > 0)}" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                    <span th:text="${share_imageVO.file_origin_name}"></span>
                </div>
            </div>
        </div>
    </div>
</div>





</div>
    </div>
    </div>
      </li>

      </div>
    </ul>
    <br>
  </fieldset>


    <span id='id_msg'></span>  

</div>

</html>