<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  
    <script>
    function mark(){
    	console.log("mark  클릭");
    	let scon_no = document.getElementById("scon_no").value;
    	let cate_no = document.getElementById("cate_no").value;
    	
    	let url;
    	let currentImg = document.getElementById("bookmarkImage").src;
    	
    	if(currentImg.endsWith("bookmark_off.png")){
    		url = './up_priority/'+scon_no+'?cate_no=' +cate_no;
    	}else{
    		url='./down_priority/'+scon_no+'?cate_no=' +cate_no;
    	}
  
    	fetch(url,{
    		method:'GET',
    	})
    	.then(response =>response.json())
    	.then(rdata=>{
    		if(rdata.cnt>0){
    			console.log("우선순위 변경 선공");
    			if(currentImg.endsWith("bookmark_off.png")){
    				document.getElementById("bookmarkImage").src = "/css/images/bookmark_on.png";
    			}else{
    				document.getElementById("bookmarkImage").src = "/css/images/bookmark_off.png";
    			}
    		}
    	})
    	.catch(error =>{
    		console.log('Error:',error);
    	});
    }
    
    


  </script>

  <div class='title_line'>
    <span th:text="${scontentsVO.scon_title}" class="title_line_text"></span > 
    > 글 조회
  </div>
  
  <aside class="aside_right" >
    <a href="./create?cate_no=1">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./update_text?scon_no=${scontentsVO.scon_no}&cate_no=1|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./update_file?scon_no=${scontentsVO.scon_no}&cate_no=1|}">파일 수정</a>  
    <span class='menu_divide' >│</span>
    <a th:href="@{|./delete?scon_no=${scontentsVO.scon_no}&cate_no=1|}">삭제</a>  
    <span class='menu_divide' >│</span>

    <a href="javascript:location.reload();">새로고침</a>

  </aside> 

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
    <div>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
					<div class ="horizontal-container">
   		<tr th:each="item, status : ${list2}">
   		<div class='hashtag' style = "padding:5px">
        <td >
            #<span th:text="${item}" class="bold;"></span>
        </td>
        </div>
    </tr>
    </div>
<div style='margin: 0px auto; width: 900px;'>
    <div class="fotorama" data-width="80%" data-ratio="800/520" data-max-width="100%" style='margin: 0px auto;'>
        <div th:each="share_imageVO, status: ${share_imageVO}">
            <div style="display: flex; align-items: center;">
                <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png') or share_imageVO.file_origin_name.endsWith('gif')}">
                    <img th:src="@{|/contents/storage/${share_imageVO.file_upload_name}|}" style="width: 100%; height: auto; max-height: 520px; object-fit: contain; margin-top: 0.5%; margin-left: 20%;">
                </div>
            </div>
        </div>
    </div>
</div>



    </tr>
					<br> 
					</span> 
					<span style="font-size: 1.5em; font-weight: bold;" th:text="${scontentsVO.scon_contents}"></span>
          <span style="font-size: 1em;" th:text="${scontentsVO.scon_date}"></span><br><br>
          <span style="font-size: 1em;" th:text="|조회수: ${scontentsVO.scon_views}|"></span><br><br>
          <span style="font-size: 1em;" th:text="|댓글수: ${cnt}|"></span><br><br>
          <input type="hidden" id="scon_no" name="scon_no" th:value="${scontentsVO.scon_no}">
          <div style="white-space: pre-wrap;"></div>
          	<span th:if="${scontentsVO.mark =='N'}">
						<img 	src="/css/images/bookmark_off.png" id="bookmarkImage" class="icon" onclick="mark()">	</span>
					<span th:unless="${scontentsVO.mark =='N'}"> <img
							src="/css/images/bookmark_on.png" id="bookmarkImage" class="icon" onclick="mark()"> </span>
        </div>
      </li>

      <div>
<div>
	<a style="font-size: 1em;" th:href="${url_list0}" th:text="${url_list0}" th:if="${url_list0 != '1'}">Link1</a><br><br>
	<a style="font-size: 1em;" th:href="${url_list1}" th:text="${url_list1}" th:if="${url_list1 != '1'}">Link2</a><br><br>
	<a style="font-size: 1em;" th:href="${url_list2}" th:text="${url_list2}"  th:if="${url_list2 != '1'}">Link3</a><br><br>
	<a style="font-size: 1em;" th:href="${url_list3}" th:text="${url_list3}"   th:if="${url_list3 != '1'}">Link4</a><br><br>
	<a style="font-size: 1em;" th:href="${url_list4}" th:text="${url_list4}"  th:if="${url_list4 != '1'}">Link5</a><br><br>
</div>

      </div>
      </div>
    </ul>
    <br>

  </fieldset>
        <tr th:each="scommentVO, status:${list}">
      <div id="commentSection" style="margin-left:60px;" >
      <div style="display:flex;">
      <td class='td_left'>
          <div>
          <span id="scmt_date" style="font-size: 1em;" th:text="${scommentVO.scmt_date}"></span><br><br>
        <span name="acc_id" id="acc_id"  th:value = "${acc_id}"  th:text="${acc_id}"></span><br>
        <input type="hidden"  name="scmt_no" th:value="${scommentVO.scmt_no}" ></span>
        <input type="hidden" style="font-size: 1em;" th:value="${acc_no}"></span>
        <span id="scmt_comment" th:text="${scommentVO.scmt_comment}" style="font-weight: bold;"></span><br>
        </div>
      </td>
        <div style="margin-left: auto;">
          <div style="display:flex;gap:10px;">
       <div name="update_co" style="cursor: pointer;" th:onclick="|location.href='./update_comment/${acc_no}/${scommentVO.scmt_no}?cate_no=1'|">수정</div>
      <form name='frm' method='post'  th:action="@{|/scontents/delete_comment|}">
       <input type="hidden" name="scmt_no" th:value="${scommentVO.scmt_no}">
       <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
       <span class='menu_divide' >│</span>
      	<button type="submit" name="delete_co" style="border: none; background-color: white;">삭제</button>
       </form>
       </div>
      </div>     
      </div>
      <hr style="width: 100%;">
      </div>
    </tr>
  
      <div>
     <form name='frm' method='post'  th:action="@{|/scontents/create_comment|}">
       <label for="comment">댓글</label>
       <input type="text" id="acc_no" name="acc_no" th:value="${acc_no}">
       <input type="hidden" id="cate_no" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
       <input type="hidden" id="scon_no" name="scon_no" th:value="${scontentsVO.scon_no}">
       <textarea name='scmt_comment' id="comment" required="required" value="" class="form-control" rows="5" style='width: 100%;'></textarea>
             <button type='submit'  style="margin-top: 4px;">등록</button>
         </form> 
    </div>

    <span id='id_msg'></span>  

</div>

</html>