<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${scontentsVO.scon_title }" class="title_line_text"></span > 
    > 파일 수정
  </div>
  
  <aside class="aside_right">
    <a href="./create">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
   <tr th:each="share_imageVO, status:${share_imageVO}">  
      <div th:if="${share_imageVO.file_origin_name.endsWith('jpg') or share_imageVO.file_origin_name.endsWith('png')  or share_imageVO.file_origin_name.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${share_imageVO.file_upload_name}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>
    </tr>
    <!--
        <div th:if="${share_imageVO.file_size == 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/contents/images/none1.png" style="width: 90%;">
        </div>
  -->
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${scontentsVO.scon_title}"></span>
          <br>
          <form name='frm' method='POST' action='./update_file' enctype="multipart/form-data">
            <input type="hidden" name="scon_no" th:value="${scontentsVO.scon_no}">
            <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}">
                
            <br><br> 
            변경 이미지 선택<br>  
                <div>
                 <input type='file' class="form-control" name='fnamesMF'
                     placeholder="파일 선택" multiple/>
              </div>
            <br>
            <div style='margin-top: 20px; clear: both;'>  
              <button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>

  