<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<script>
  window.onload = function() {
    
  } // window.onlaod 종료.
  
</script>

<body>
  <div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
    <div style="text-align: right; clear: both;">
      <form name="frm_search" method="get" action="/qcontents/qna_list_all">
        <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 값 가져오기 -->
        <input type="hidden" name="now_page" th:value="${now_page}">
        
        <!-- <span th:text="{popular}"></span> -->
  
        <input type="text" name="word" id="word" th:value="${word}" style="height: 30px;" placeholder="게시글 검색란">
        <button type='submit' class='btn btn-secondary btn-sm'
          style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px; border-radius: 8px; background-color: transparent; border: none; color: black; font-size: 15px;">
          <img src="/css/images/search.png" class="icon" alt="검색" style="width: 20px; height: 20px;">검색</button>
  
        <span th:if="${word != null and word != ''}">
          <button type='button' class='btn btn-secondary btn-sm'
            style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px; border-radius: 8px; background-color: transparent; border: none; color: black; font-size: 15px;"
            th:onclick="|location.href='/qcontents/qna_list_all?cate_no=2&word=&now_page=${now_page}'|">
            <img src="/css/images/del_search.png" class="icon" alt="검색" style="width: 20px; height: 20px;">검색 취소</button>
        </span>
      </form>
    </div>
  </div>

</body>
</head>
</html>