<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    window.onload = () => {
      document.getElementById("send").addEventListener("click", async function () {
        let prompt = document.getElementById("prompt").value;

        let acc_no = '[[${session.acc_no}]]'; //  javascript -> Thymeleaf -> session
        // alert('acc_no: ' + acc_no);
        
        if (acc_no == '') {
          alert('로그인해야 이미지를 생성할 수 있습니다.');
          location.href = "/account/login?url";
        }

        let formData = new FormData();
        formData.append("prompt", prompt);
        formData.append("acc_no", acc_no);

        let panel = document.getElementById("panel");
        panel.innerHTML = '<img src="/images/progress.gif" style="width: 5%; margin-top 0px auto;">';
        panel.style.display = "block";

        let result = document.getElementById("result");
        let download = document.getElementById("download");
        let move_on_tag = document.getElementById('move_on');
        
        // result.style.display = "none";  // 태그 감추기

        /*
        await fetch("http://192.168.12.159:5000/qcontents/member_img", {
            method: "post",
            body: formData,         }) */
        await fetch("http://192.168.12.159:5002/qcontents/member_img", {
          "method": "post",
          "headers": {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({prompt, acc_no}) // 보내는 데이터, {"prompt":prompt, "acc_no":acc_no}, JSON 형식으로 전송
        })
        .then((response) => response.json())
        .then((data) => { // OpenAI에서 생성된 이미지 출력
          // alert('이미지가 생성되었습니다! \n\n생성된 파일 경로: ' + data.file_name);
          // return;
          // alert('이미지가 생성되었습니다!');
          
          console.log('data.file_name: ' + data.file_name); // /openai/member/storage/20240718191050_891.jpg
          result.innerHTML = `<img src="${data.file_name}" style="width: 100%;">`;
          panel.style.display = "none"; // 진행 animation 숨기기
          move_on_tag.style.display='block';
          
          // 다운로드 버튼 코드
          download.addEventListener("click", function() {
            let link = document.createElement('a');
            link.href = data.file_name;
            link.download = '';
            link.click();
          });
        });
      });

      // 내용 삭제
      document.getElementById("clear").addEventListener("click", function () {
        document.getElementById("prompt").value = "";
        document.getElementById("prompt").focus();
      });
      
      // 실시간 생성어: 키 입력할 때마다 서버에 요청
      document.getElementById("prompts").addEventListener("keyup", function (event) {
        let prompts = this.value;
        console.log(prompts);

        let panel2 = document.getElementById('panel2');
        panel2.innerHTML = '';

        if (event.key === 'Enter') { // Enter키 눌렀을 때
            event.preventDefault();
        }

        if (prompts.length > 0) {
            const url = '/qcontents/get_prompt?cate_no=2&prompt=' + prompts;

            fetch(url, {
                method: 'GET',
            })
            .then((response) => response.json())
            .then((rdata) => {
              let cnt = 0;

              rdata.res.forEach(row => {
                  // if (cnt < 5) {
                      let div = document.createElement('div');
                      div.className = 'suggestion-item';

                      let simple_prompt = row.prompt.length > 70 ? row.prompt.substring(0, 70) + '...' : row.prompt;
                      let simple_dalle_origin_cnt = row.dalle_origin.length;
                      let simple_dalle_origin = row.dalle_origin.substring(20, simple_dalle_origin_cnt);
                      console.log(simple_dalle_origin);

                      div.textContent = `${cnt + 1}. ${simple_prompt}`;

                      div.addEventListener('click', function () {
                          document.getElementById('prompt').value = row.prompt; // 'prompt' 입력란에 선택한 값 넣기
                          document.getElementById('prompts').value = ""; // 'prompts' 입력란 비움
                          panel2.style.display = 'none';
                          panel2.innerHTML = '';
                          alert('아래 입력란 텍스트가 클릭한 생성어로 바뀌었습니다!');
                      });
                      panel2.appendChild(div);
                      cnt++;
                  // }
              });

              if (rdata.res.length > 0) {
                  panel2.style.display = '';
              } else {
                  panel2.style.display = 'none';
              }
            });
        } else {
            panel2.style.display = 'none';
        }
      });
      
    } // window.onload 종료

    function ai_img(formData, panel, result) {
      confirm(formData + " <= 내용")
    }
    

  </script>
</head>

<body>
  <div style="margin: 10px auto; width: 90%;">
    <span style="font-size: 20px;" class="title_line_text">이미지 생성 서비스 AI </span>
    <div class='title_line'></div>
    
    <aside class="aside_right">
      <a th:href="@{http://localhost:9093/}">홈</a>
      <span class="menu_devide">│</span>
      <a href="javascript:history.back();">돌아가기</a>
      <span class="menu_devide">│</span>
      <a href="javascript:location.reload();">새로고침</a>
    </aside>
    <div class='menu_line'></div>
    
     <div style="text-align: left;">
        <span id="prompts_explanation" style="margin-top: 10px; font-size: 20px;">실시간 생성어</span>
        <span id="part_explanation" style="margin-left: 0px; margin-top: 10px; font-size: 20px;">찾기</span>        
        <span style="margin-left: 0px; font-size: 15px; color: grey;">(*다른 사용자들이 사용한 생성어)</span><br />
        <input type='text' id='prompts' placeholder="찾고싶은 키워드가 들어간 생성어 검색란" style="width: 16%;" autocomplete="off">
        <div id='panel2' class='suggestions' style='display: none;'></div>
        <br /><br />
    </div>
   
  <span id="prompt_explanation" style="margin-left: 0px; font-size: 15px; color: grey;">아래 입력란에 상상하는 모습의 키워드가 들어간 생성어를 입력해보세요.</span><br />
  <textarea id="prompt" name="prompt" style="width: 100%; height: 200px;">
아래의 규칙에 맞는 이미지를 생성해줘.
1. 컬러: 상관없음
2. 컨셉: 모던
3. 상황: 개발자 컴퓨터 책상을 정면으로 바라본 구조로 이미지 생성해줘.
4. 제작 유형: 3D로 제작
    </textarea><br />
    
    <div style="margin-top: 10px auto; width: 100%; text-align: center;">
      <button id="send" class="btn btn-info btn-sm">나만의 AI 이미지 생성하기</button>
      <button id="clear" class="btn btn-info btn-sm">입력 내용 삭제하기</button>
      <button id="download" class="btn btn-info btn-sm">다운로드</button>
    </div>
    
    <div id="result" style="margin: 10px auto; width: 40%; text-align: center;"></div>
    <div id="panel" style="margin: 10px auto; margin-bottom: 20px; width: 100%; height: 50px; text-align: center; display: none;"></div><br />
    <div id="move_on" style="margin-top: 5px; display: none; text-align: center;">
      <button type="button" th:attr="onclick=|location.href='http://localhost:9093/qcontents/member_img_log?acc_no=${session.acc_no}'|" class="btn btn-info btn-sm">
      실시간 이미지 내역 보러가기
      </button>
    </div>
    
  </div>
</body>

</html>