<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      
      // 로그인 유무 확인
      if ('[[${session.acc_no}]]' === '') {
        alert('로그인이 필요합니다.');
        location.href = "/account/login";
        return;
      }
      
      let dalle_data = []; // 이미지 데이터 저장
      let dalle_now_page = 1; // 이미지 로그 현재 페이지
      let items_per_page = 5; // 페이지당 출력 레코드 수
      let option_no = 1; // 1: 본인, 2: 전체
      
      function option_change(option) {
        if (option === 'me') {
          option_no = 1; // 본인
        } else { // 관리자 계정만 전체 로그 볼 수 있음
          if ('[[${session.acc_no}]]' > 3 && option === 'all') {
            alert("권한이 필요합니다.");
            document.getElementById('options').value = 'me'; // 옵션을 '나'로 변경
            option = 'me'; // option 변수도 'me'로 변경
            return;
          } else {
            option_no = 2; // 전체, 관리자 계정인 경우 전체 로그 조회 가능
          }
        }
        dalle_now_page = 1; // 페이지를 처음으로 되돌림
        member_img_logs(); // 필터링된 로그 조회
      }
      
      function member_img_logs() {
        let option = option_no === 1 ? 'me' : 'all';
        let acc_no = option === 'me' ? null : -1; // 'me'이면 null, 'all'이면 -1
        
        // 데이터를 서버에서 가져오는 fetch 요청
        fetch(`/qcontents/member_img_log`, {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({ acc_no: acc_no, option: option })
        })
        .then(response => response.json())
        .then(data => {
          if (data.res.length > 0) {
            dalle_data = data.res;
            display_logs(); // 이미지 조회
          } else {
            document.getElementById('btn_add').style.display = 'none';
            let container = document.getElementById('else_result');
            container.innerHTML = '이미지 생성 서비스 AI를 이용한 내역이 존재하지 않습니다.';
          }
        });
      }

      function display_logs() {
        let container = document.getElementById('result');
        let start_index = (dalle_now_page - 1) * items_per_page;
        let end_index = dalle_now_page * items_per_page;
        let logs = '';
        for (let i = start_index; i < end_index && i < dalle_data.length; i++) {
          let log = dalle_data[i];
          let acc_id = log.acc_id;
          let acc_no = log.acc_no;
          let prompt = log.prompt;
          let thumb = log.thumb;
          let ddate = log.ddate;
          let cnt = i + 1;
          
          // 이미지 경로 수정 (서버의 static 경로에 맞춰 설정)
          // 앞에서 20자 추출
          let thumb_path = `http://192.168.12.159:9093/openai/member/storage/${thumb}`; // http://192.168.12.159:9093/openai/member/storage/20240718191253_313.jpg
          console.log('thumb_path: ' + thumb_path);
          
          let log_index = `
          <div>
            [${cnt}번째 생성어] | 생성날짜: ${ddate} | 아이디: ${acc_id}<br>
            ${acc_id}님께서 요청하신 이미지 생성어: <br><br>${prompt}<br>
            <br>
            [${cnt}번째 출력] | 생성날짜: ${ddate} | 아이디: ${acc_id}<br>
            ${acc_id}님이 받으신 생성어 이미지<br><br>
           ▶ <img src="${thumb_path}" style="max-width: 100%; height: 180px;"><br>
          </div>
          `;
          
          // 마지막 레코드 행이 아니면 hr 태그 추가  
          if (i < end_index - 1 && i < dalle_data.length - 1) {
            log_index += '<br><hr size="10;" style="margin-top:1px; margin-bottom:1px;">';
          }
          logs += log_index;
        }
        
        // 새로운 레코드 행이 출력되기 전에 <br><hr> 태그 추가
        if (dalle_now_page > 1) {
          logs = '<br><hr size="10;" style="margin-top:1px; margin-bottom:1px;">' + logs;
        }
        if (dalle_now_page === 1) {
          container.innerHTML = logs;
        } else {
          container.innerHTML += logs;
        }
        
        // 모든 데이터가 로드되면 더보기 버튼 숨기기
        if (end_index >= dalle_data.length) {
          document.getElementById('btn_add').style.display = 'none';
        } else {
          document.getElementById('btn_add').style.display = 'block'; // 더보기 버튼 보이기
        }
      }
      
      // 초기 로드 시 'me' 옵션으로 설정
      option_change('me');
      
      // 옵션 변경 이벤트 처리
      document.getElementById('options').addEventListener('change', function () {
        let option = this.value;
        option_change(option);
      });

      // 더보기 버튼 클릭 이벤트 처리
      document.getElementById('btn_add').addEventListener('click', function () {
        dalle_now_page++;
        display_logs(); // 이미지 로그 조회
      });
    });
  </script>
</head>
<body>
  <div layout:fragment="content">
    <div class='title_line'>실시간 이미지 내역</div>
    
    <div style="text-align: right; clear: both;">
      <select id="options">
        <option value="me">나</option>
        <option value="all">전체</option>
      </select>
    </div>
    <div class='menu_line'></div>
    
    <fieldset class="fieldset_basic">
    <ul>
      <div>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">
            <div style='margin: 0px auto; width: 90%;'>
              <div id="result" style="text-align: left;">
                <!-- 여기에 요약 로그가 실시간으로 추가됩니다 -->
              </div>
              
              <div id="else_result" style="text-align: center;">
                <!-- 요약 로그 데이터 존재하지 않는 경우 -->
              </div>
              <br />
              <div id='reply_list_btn' style='border: none'>
                <button type='button' id='btn_add' style='width: 100%;'>더보기 ▽</button>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </fieldset>
  
  </div>
</body>
</html>
