<!DOCTYPE html>
<html layout:decorate="~{layout}">
<script>
$(function(){
   $('#btn_recom').on("click", function() { 
        var qcon_no = $('#qcon_no').val(); // qcon_no 값을 읽어옴
        update_recom_ajax(qcon_no); 
    });

    // 댓글 목록 초기 로딩
    loadComments();

    // 더보기 버튼 클릭 이벤트
    $('#btn_add').on('click', function() {
        var replyPage = $('#reply_list').data('now_page');
        loadComments(replyPage + 1);
    });
});

// 댓글 등록 함수
function reply_create() {
    var formData = $('#frm_reply').serialize(); // 폼 데이터 직렬화

    $.ajax({
        url: "/qcontents/qna_create_comment", // 댓글 등록을 처리하는 컨트롤러 URL
        type: "POST", // HTTP 요청 방법
        data: formData, // FormData 객체를 전송
        success: function(response) {
            // 댓글 등록 성공 시 댓글 목록 다시 불러오기
            loadComments();
        },
        error: function(xhr, status, error) {
            console.error(error); // 에러 메시지 출력
        }
    });
}

// 댓글 목록을 불러오는 함수
function loadComments(page) {
    // 페이지가 지정되지 않으면 기본값으로 1을 사용
    page = page || 1;

    $.ajax({
        url: "/qcontents/qna_read_comment", // 댓글 목록을 불러오는 컨트롤러 URL
        type: "GET", // HTTP 요청 방법
        data: {
            qcon_no: "${qna_contentsVO.qcon_no}",
            page: page
        },
        success: function(response) {
            $('#reply_list').html(response); // 댓글 목록 업데이트
            $('#reply_list').data('replyPage', page); // 현재 페이지 업데이트
        },
        error: function(xhr, status, error) {
            console.error(error); // 에러 메시지 출력
        }
    });
}
</script>

<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${qna_contentsVO.qcon_name}" class="title_line_text"></span> > 글 조회
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|/qcontents/qna_create?cate_no=2|}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_text?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_file?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_delete?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}&cate_no=2|}">삭제</a> 
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_list_all?cate_no=2&now_page=${now_page}|}">목록</a>   
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
 
  <div class='menu_line'></div>
  
  <form id="frm_reply" action="/qcontents/qna_create_comment" method="post">
    <input type="hidden" name="cate_no" value="${categoryVO.cate_no}">
    <input type="hidden" name="qcon_no" value="${qna_contentsVO.qcon_no}">
    <input type="hidden" name="acc_no" value="${qna_contentsVO.acc_no}">
    <input type="hidden" name="now_page" value="${now_page}">

    <fieldset class="fieldset_basic">
        <legend>댓글 등록</legend>
        <textarea name="qna_comment" id="qna_comment" rows="4" cols="50" placeholder="댓글을 입력하세요"></textarea><br>            
        <button type="button" onclick="reply_create()">댓글 등록</button>
    </fieldset>
  </form>

  <div id="reply_list" data-replyPage='1'>

  </div>
  <div id='reply_list_btn' style='border: solid 1px #EEEEEE; margin: 0px auto; width: 100%; background-color: #EEFFFF;'>
      <button id='btn_add' style='width: 100%;'>더보기 ▽</button>
  </div>  
</div>
</html>
