<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${categoryVO.cate_name}" class="title_line_text"></span > 
    > 글 등록
  </div>
  
  <aside class='aside_left'>
    <button onclick="location.href='#'" style="background-color: burlywood; margin-bottom: 10px;">달리 AI(이미지 생성)</button>
  </aside>
  
  <aside class="aside_right">
    <a th:href="@{|./list_by_qna_search?cate_no=${categoryVO.cate_no}|}">취소[목록]</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${qna_contentsVO}" action='/qcontents/qna_create' enctype="multipart/form-data">
    <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}"> <!-- cate_no 값 가져오기 -->
    
    <div>
       <label>제목</label>
       <input type='text' name='qcon_name' value='' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    
    <div>
       <label>내용</label>
       <textarea name='qcon_contents' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    
    <div>
       <label>이미지</label>
       <input type='file' class="form-control" name='fnamesMF' id='file1MF' value='' placeholder="파일 선택" multiple="multiple">
    </div>
    
    <div>
       <label>패스워드</label>
       <input type='password' name='qcon_passwd' value='1234' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_qna_search?cate_no=${categoryVO.cate_no}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
    
  </form>

</div>


  