<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${qna_contentsVO.qcon_.name }" class="title_line_text"></span > 
    > 글 조회
  </div>
  
  <aside class="aside_right"> <!-- 네비게이션 바 시작 -->
    <a href="./qna_create?cate_no=${categoryVO.cate_no }">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/qcontents/qna_update_text?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}&word=${word}|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./qna_update_file?qcon_no=${qna_contentsVO.qcon_no}&word=${word}&now_page=${now_page}|}">파일 수정</a>  
    <span class='menu_divide' >│</span>
    <a th:href="@{|./qna_delete?qcon_no=${qna_contentsVO.qcon_no}&word=${word}&now_page=${now_page}&cate_no=${qna_contentsVO.cate_no}|}">삭제</a>  
    <span class='menu_divide' >│</span>

    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_qna_search?cate_no=${categoryVO.cate_no }&word=${word}&now_page=${now_page}|}">목록</a>    
  </aside> <!-- 네비게이션 바 종료 -->
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none" th:text="|검색어(키워드): ${qna_contentsVO.word}|">
        <div style="width: 100%; word-break: break-all;">
        
          <div th:if="${qna_imageVO.file_origin_name.endsWith('jpg') or qna_imageVO.file_origin_name.endsWith('png') or qna_imageVO.file_origin_name.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${qna_imageVO.file1saved}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${qna_contentsVO.qcon_name}"></span>
          <span style="font-size: 1em;" th:text="${qna_contentsVO.qcon_date}"></span><br><br>
          <div style="white-space: pre-wrap;"><span th:text="${qna_contentsVO.qcon_contents}"></span></div>
        </div>
      </li>

      <li class="li_none" th:text="|검색어(키워드): ${qna_contentsVO.word}|">
      </li>
      
      <li class="li_none" th:if="${qna_imageVO.file_size > 0}">
        <div >
          첨부 파일: <a th:href='@{|/download?dir=/contents/storage&filename=${qna_imageVO.file1saved}&downname=${qna_imageVO.file_origin_name}|}'
                             th:text='|${qna_imageVO.file_origin_name}|'></a>
        </div>
      </li>   
    </ul>
  </fieldset>

</div>

</html>

