<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
  <div th:each="qna_contentsVO : ${qna_contentsVO}">
  <span th:text="${qna_contentsVO.qcon_name}" class="title_line_text"></span > 
    > 삭제
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|/qcontents/qna_create?cate_no=2|}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_text?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_file?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_list_all?cate_no=2&now_page=${now_page}|}">목록</a>   
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>

        <div style='text-align: left; width: 47%; float: left;'>
          <br>
          <form name='frm' method='POST' action='./qna_delete'>
            <input type="hidden" name="qcon_no" th:value="${qna_contentsVO.qcon_no}">
            <input type="hidden" name="cate_no" th:value="${qna_contentsVO.cate_no}"> <!-- cate_no 데이터 값 가져옴 -->
            <input type="hidden" name="now_page" th:value="${now_page}">
            <div th:each="qna_contentsVO : ${qna_contentsVO}">
            <span style='font-size: 1.5em;' th:text="${qna_contentsVO.qcon_name}"></span>
                  
             <br> 
             <div style='margin-top: 20px; clear: both;'>
               <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
               <br><br><br>  
               <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
               <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
              </div>
              </div>  
          </form>
        </div>
    </ul>
  </fieldset>  

</div>

</html>

  