<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${qna_contentsVO.qcon_name}" class="title_line_text"></span> > 글 조회
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|/qcontents/qna_create?cate_no=2|}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_delete?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}&cate_no=2|}">삭제</a> 
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_text?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_update_file?qcon_no=${qna_contentsVO.qcon_no}&now_page=${now_page}|}">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|/qcontents/qna_list_all?cate_no=2&now_page=${now_page}|}">목록</a>   
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
 
  <div class='menu_line'></div>
  
  <form action="/qcontents/qna_read" method="get">
    <input type="hidden" name="cate_no" th:value="${categoryVO.cate_no}">
    <input type="hidden" name="qcon_no" th:value="${qna_contentsVO.qcon_no}">
    <input type="hidden" name="now_page" th:value="${now_page}">

    <fieldset class="fieldset_basic">
      <ul>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">
            <div th:each="image : ${qna_imageVO}">
              <div th:if="${image.file_origin_name.endsWith('jpg') or image.file_origin_name.endsWith('png') or image.file_origin_name.endsWith('gif')}">
                <img th:src="@{|/contents/storage/${image.file_upload_name}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
              </div>
            </div>
            <span style="font-size: 1.5em; font-weight: bold;" th:text="${qna_contentsVO.qcon_name}"></span>
            <span style="font-size: 1em;" th:text="${qna_contentsVO.qcon_date}"></span><br><br>
            <span style="font-size: 1em;" th:text="|조회수: ${qna_contentsVO.qcon_views}|"></span><br><br>
            <div style="white-space: pre-wrap;"><span th:text="${qna_contentsVO.qcon_contents}"></span></div>
          </div>
        </li>
        <li class="li_none" th:each="image : ${qna_imageVO}" th:if="${image.file_size > 0}">
          <div>
            첨부 파일: <a th:href="@{|/download?dir=/contents/storage&filename=${image.file_upload_name}&downname=${image.file_origin_name}|}" th:text="|${image.file_origin_name}|"></a>
          </div>
        </li>   
      </ul>
    </fieldset>
  </form>
</div>
</html>
