<!DOCTYPE html> 

<html layout:decorate="~{layout}">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    window.onload = () => {
      summary_logs();
      
      // 주기적으로 요약 로그를 가져오는 함수 호출 (예: 5초마다)
      setInterval(summary_logs, 5000);
    };
    
    function summary_logs() {
      let acc_no = '[[${session.acc_no}]]'; //  javascript -> Thymeleaf -> session
      
      // 데이터를 서버에서 가져오는 fetch 요청
      fetch(`/qcontents/summary_log?acc_no=` + acc_no, {
        method: "POST",
        "headers": {"Content-Type": "application/json"},
      })
      .then(response => response.json())
      .then(data => {
        
        for(let i = 0;i<data.res.length;i++){
          console.log(data.res[i]);
        }
        
        if (data.res.length > 0) {
          // 서버에서 받은 JSON 데이터를 처리하여 HTML에 추가
          data.res.forEach(log => {
            let acc_id = log.acc_id;
            let acc_no = log.acc_no;
            let article = log.article;
            let response = log.response;
            
            
           
          });
        } else {
          alert('요약 기록이 없습니다.');
        }
      });
    }
  </script>
</head>

<body>
<div layout:fragment="content">
  <div class='title_line'>요약 로그</div>
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <div>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">

            <div style='margin: 0px auto; width: 900px;'>
              <div id="summary-log-container">
                <!-- 여기에 요약 로그가 실시간으로 추가됩니다 -->
                
              </div>

              <hr size="10;" style="margin-top:1px; margin-bottom:1px;">
              <br /><br />

              <div id="response"></div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </fieldset>

</div>
</body>
</html>
