<!DOCTYPE html> 

<html layout:decorate="~{layout}">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    window.onload = () => {
      summary_logs();
    };
    
    function summary_logs() {
      let acc_no = '[[${session.acc_no}]]'; //  javascript -> Thymeleaf -> session
      
      // 데이터를 서버에서 가져오는 fetch 요청
      fetch(`/qcontents/summary_log`, {
        method: "POST",
        "headers": {"Content-Type": "application/json"},
      })
      .then(response => response.json())
      .then(data => {
        let container = document.getElementById('result');
        container.innerHTML = '';
        
        let cnt = 0; // div 갯수
        
        for(let i = 0; i < data.res.length; i++) {
          console.log(data.res[i]);
          
          if (data.res.length > 0) {
          // 서버에서 받은 JSON 데이터를 처리하여 HTML에 추가
          
          data.res.forEach(log => {
            let acc_id = log.acc_id;
            let acc_no = log.acc_no;
            let article = log.article;
            let response = log.response;
            let sdate = log.sdate;
            
           container.innerHTML = `
              [${cnt + 1}번째 요청]<br>
              ${sdate} ${acc_id}님이 보낸 요청문: <br><br>${article}<br>
             
             <hr size="10;" style="margin-top:1px; margin-bottom:1px;">
             [${cnt + 1}번째 응답]<br>
             ${sdate} ${acc_id}님이 받은 응답문: <br><br>${response}<br>
            `;
            
          });
        } else {
          alert('요약 기록이 없습니다.');
          }
        }
      });
    }
  </script>
</head>

<body>
<div layout:fragment="content">
  <div class='title_line'>요약 로그</div>
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <div>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">

            <div style='margin: 0px auto; width: 90%;'>
              <div id="result">
                <!-- 여기에 요약 로그가 실시간으로 추가됩니다 -->
              </div>

            </div>
          </div>
        </li>
      </div>
    </ul>
  </fieldset>

</div>
</body>
</html>
